[2015-01-07 09:54] anaselli commented on #70
could it be related to issue #71 ?

[2015-04-13 16:49] plopezm commented on #71
I have added this lines to production.rb and development.rb and now it works.

config.action_mailer.delivery_method = :sendmail
config.action_mailer.perform_deliveries = true

[2015-05-28 11:08] dmabtrg opened #1 "Fatal error when installing keystone"
Hi,

I'm updating Keyrock to test the new version with our Fiware project (https://github.com/Bitergia/fiware-chanchan).  So far, it's been really easy to install and use, but since yesterday (27/05/2015) keystone fails to install with the following error:

[code]

I've posted the full log here: https://gist.github.com/dmabtrg/b99e66af0376cad1d7ca

From the log, it seems there's some kind of versi

[2015-05-28 11:26] garcianavalon commented on #1
Hi,

I thought I had fixed that issue last week in https://github.com/ging/keystone/commit/89ec7210d3d98ae7858a50fac0aec69319f00266

Maybe it is a different external library now that has been updated and conflicts with our requirements. I'll take a look and try to figure out which ones are conflicting.

Thanks for your feedback,
Cheers.

[2015-05-29 12:12] garcianavalon commented on #1
Hi,
I've pushed a patch to the keystone repo that should fix this issue https://github.com/ging/keystone/commit/dcadbc532041200860d608f6d146aadaf6f1b78e . I have tried installing the venv in a fresh clone from the repo and worked correctly.

I hope everything works now, let me know if it doesn't.
Cheers.

[2015-05-29 12:12] #1 closed, assigned to garcianavalon

[2015-05-29 15:57] dmabtrg commented on #1
I've tried again and it's working now.

Thank you. :-)

[2015-06-15 22:02] GlockPL opened #2 "Implicit Grant"
According to https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Identity_Management_-_KeyRock_-_User_and_Programmers_Guide impicit grant is supported but when I use "response_type=token" i still get access code.

[2015-06-16 09:14] garcianavalon commented on #2
Hi,
I'll take a look at it.
Cheers.

[2015-06-22 17:00] GlockPL commented on #2
Anything changed?

[2015-06-23 15:49] garcianavalon commented on #2
Sorry, I had work to do in other areas. I've made some tests and looks like indeed it working incorrectly. I'll upload a fix tomorrow.
Cheers.

[2015-06-25 15:26] garcianavalon commented on #2
Hi, this is already fixed it but not yet deployed in FIWARE Lab (if that applies to your case). It will be deployed along the following week.

I'll close the issue for now, I'll reopen it if problems appear after the deployment.
Cheers.

[2015-06-25 15:26] #2 closed, assigned to garcianavalon

[2015-07-02 11:54] helioft commented on #2
Hello,
We were wondering if this has been deployed?
Best

[2015-07-02 12:22] garcianavalon commented on #2
Hi,
the update is scheduled for next Tuesday (July 7th).
BR

[2015-07-27 12:26] albertinisg opened #3 "Error while installing keystone"
Hi!

We are installing `fi-ware-idm` for developing a [devguide](https://github.com/Bitergia/fiware-devguide-app) and since last week we are having issues installing keystone.

It seems that following the `requirements.txt` it's installing a newer version (2.0.0) so it cannot find the required one, showing this trace:

[code]

Tried to install manually one of the allowed ones (1.4.0) and we were a

[2015-07-27 12:33] garcianavalon commented on #3
Hi!
there is an on going namespace change in the openstack libraries so errors like this appear from time to time lately.
I'll fix it and upload a patch ASAP.

thanks for reporting the error.

[2015-07-27 12:50] garcianavalon commented on #3
fixed, it should install correctly now https://github.com/ging/python-keystoneclient/commit/55c6be6cdffc1928e0354fe3b5b9c76e654dc94d

[2015-07-27 13:30] albertinisg commented on #3
Worked perfectly! Thanks a lot for the super fast fix :)

[2015-07-27 15:44] albertinisg commented on #3
I've been testing it and as said before, installation was successful but it's still not working. Whenever I try to access the IdM, apache throws an error:

[code]

Following this instructions, we can find that the `error.log` shows the following:

[code]

Which seems to be an error with another module. Probably something related with the one I reported :)

[2015-07-28 08:26] garcianavalon commented on #3
True. This rename issue is a headache... I have a fix already uploaded

[2015-07-28 08:28] garcianavalon commented on #3
Fix uploaded  for Horizon https://github.com/ging/horizon/commit/3c980b767cb70e38c221534183b308d0af05cdf6

I recommend you to run `sudo python tools/install_venv.py` and update all of the dependencies, as some of them were causing the issue and need an upgrade.

[2015-07-28 08:28] #3 closed, assigned to garcianavalon

[2015-07-28 11:46] albertinisg commented on #3
Tested and worked perfectly. Again, thanks a lot!

[2015-07-29 08:35] gelas commented on #3
This is great. Had the same problem for few days.
Thanks.

[2015-08-05 14:00] albertinisg opened #4 "Send XACML policy to Authzforce through console"
Hi!

We are using IdM, PEP and Authzforce for the [FIWARE Devguide APP](https://github.com/Bitergia/fiware-devguide-app). What we are doing is to provide a set of users, organizations, applications, roles and permissions by default (to be used with Docker).

Right now we did good until here, but now we are a bit stuck at some point. We have the whole environment running but, the only thing that we

[2015-08-06 07:21] aalonsog commented on #4
Hi, you have to use the AuthZForce API directly. Here you will find the documentation:
http://catalogue.fiware.org/enablers/authorization-pdp-authzforce
If you have doubts regarding the use of it please contact the GE owner (contact info included also there)

BR

[2015-08-06 07:21] #4 closed, assigned to nobody

[2015-08-06 16:29] xabies opened #5 "How to use the API¿?"
Hi I'm a newbie developer. I have follow the isntallation guide without problems, but now I do not know waht to do?

I have the http://localhost:8000/ runnig the fiware Lab form and I can with the idp user.

Now I want to use the rest ful api to create user or list user of my app:
GET /v2/Users/
but I don not how to do that? I only obtain errors. What is the next step.

[2015-08-06 20:23] vladanminic opened #6 "Horizon - Settings menu - Error"
Dear ging team,

I installed fi-ware-idm (keystone & horizon). After login with idm user and pass everything works except Settings menu option, when I get this error:

TypeError at /settings/
unsupported operand type(s) for +: 'NoneType' and 'str'
Request Method: GET
Request URL:    http://****_(my url here)**_****:8000/settings/
Django Version: 1.6.11
Exception Type: TypeError
Exception Value:
un

[2015-08-06 21:18] vladanminic commented on #6
Solution: change lines 66 and 67 from:
    'started_at': getattr(user, account_type + '_started_at', None),
    'duration': getattr(user, account_type + '_duration', None),

to:
    'started_at': getattr(user, str(account_type) + '_started_at', None),
    'duration': getattr(user, str(account_type) + '_duration', None)

[2015-08-07 14:39] j99ht opened #7 "oauth2 request {"state": "xyz", "error": "mismatching_redirect_uri"} (HTTP 400)"
Hello,

I've been testing IDM and when I try to configure my app for login redirection, as in the example ging/oauth2-example-client, I always get the same error

"state": "xyz", "error": "mismatching_redirect_uri"} (HTTP 400)

The request is the following

http://localhost:8000/oauth2/authorize?response_type=code&client_id=d9e8bc5cd6f6447babe774c48d993be7&state=xyz&redirect_uri=http%3A%2F%2Fwww%2

[2015-08-10 09:11] vladanminic commented on #7
j99ht, you need to specify the same call back url in Application registered in your localhost:8000 as well as in config.js file

eg. for config.js
config.idmURL = 'http://localhost:8000';
config.client_id = 'be266e3af22747758b01c28f2b5be4a9';
config.client_secret = '3caaf1425ccf48cb9655d5367d306392';
config.callbackURL = 'http://localhost/login';

I was in the same position this morning :)

---

E

[2015-08-10 09:57] j99ht commented on #7
Thanks, I did not see the difference.

[2015-08-10 09:57] #7 closed, assigned to nobody

[2015-08-10 09:59] j99ht commented on #5
Hi xabies.

It is only working v3

[2015-08-10 10:44] #6 closed, assigned to nobody

[2015-08-10 13:28] vladanminic opened #8 "App authorization error - exceeded the limit of column state(CHAR(256))"
Dear ging team,

I'm using PPnet (Social Network SE). I Registered the app on the Fi-LAB to accept authorization but when I tried to login I got this error:

String length exceeded.The length of string '{"client_id":"1b881b8277084b2ea1b5f1787970e44f","network":"fiware","display":"popup","callback":"_hellojs_aeziej0n","state":"","oauth_proxy":"https://auth-server.herokuapp.com/proxy","scope":["basi

[2015-08-10 14:08] vladanminic opened #9 "Error: Unable to retrieve application."
Dear ging team,

I installed keystone/horizon on my VM instance on Fi-LAB .
I registered new App (got Client ID and Client Secret), but when try to access it I got message.
Error: Unable to retrieve application.

When I do the same (with same code) directly on Fi-Lab, I can retrieve App.
Can you please how to solve the problem.

Thank you!

Best regards,
Vladan

[2015-08-13 16:33] garcianavalon commented on #8
Dear Vladan,

I understand you are trying to log in a user from your application using the OAuth2.0 protocol, correct me if I am wrong.

The error you are seeing is clearly a DB error, as the value for 'state' is too long. It seems that the oauth2 provider is understanding that whole json as the 'state' variable. Are you sending that on purpose? If so, please reduce it to fit the 256 char length.

[2015-08-13 16:38] garcianavalon commented on #5
Hi @xabies ,

as @j99ht pointed out, we recommend the use of the v3 API, as the v2 is deprecated by the OpenStack team. On how to use the API, you can find some information in the Keystone documentation:
http://docs.openstack.org/developer/keystone/api_curl_examples.html
http://developer.openstack.org/api-ref-identity-v3.html

If you can't find what you are looking for, please explain me your use

[2015-08-13 16:38] #5 closed, assigned to nobody

[2015-08-13 17:23] vladanminic commented on #8
Dear Garsia,

I tried to login on PPnet (Social Network SE) using KeyRock IDM. PPnet was litle bit outdated, so I got help from them and we managed to solve the problem by commenting line for "oauth_proxy" and "grant"

Thank you!

[2015-08-13 17:23] #8 closed, assigned to garcianavalon

[2015-08-18 09:05] redss opened #10 "Changing password crashes KeyRock instance"
Hello,

I've installed KeyRock on an Ubuntu 14.04 VM, using this [walkthrough](https://github.com/ging/fi-ware-idm/wiki/Installation-guide). After gaining access to settings menu, using fix from #6, I tried to change user's password. After doing so, I was logged out. However, when I tried to log in again using new credentials, I got 401 (unauthorized) error. Moreover, when I went back to the main

[2015-08-18 21:13] garcianavalon commented on #10
Hi,

I don't know what could be happening, never had an issue with the passwords. Right now I'm out of the office, next week I can take a closer look to see what could be going wrong. Try checking the user table in the database, mainly the active/valid column. If you find out anything else please let me know.

Cheers,
Enrique

[2015-08-19 09:05] vladanminic commented on #10
I have the same problem as redds. After changing password for idm user, KeyRock crashes.

---

edit:

I changed password in openstack_dashboard/local/local_settings.py as well and restarted Horizon, and now everything is working OK, idm user (with changed password) as well as other users with changed password.

[2015-08-19 12:50] IAIS4EP opened #11 "That Key Rock does not support Social Logins 100%. This should be really fixed asap."

[2015-08-24 08:39] garcianavalon commented on #10
Hi,

I've tried changing my user's password and it works fine. Basing on @vladanminic's answer, looks like you changed the 'idm' account password, which is the one that the front-end uses to operate in the back-end. Update your settings with the new password and it should work fine.

Best regards,
Enrique

[2015-08-24 08:39] #10 closed, assigned to garcianavalon

[2015-08-24 08:52] garcianavalon commented on #11
Dear IAIS4EP,

Could you give me more details on the issue? What features are missing? Currently KeyRock supports all four grant types from the OAuth 2.0 protocol (plus the Refresh Token grant).

Thank you for your feedback.
Best regards,
Enrique

[2015-09-02 08:25] pjt33 opened #12 "Horizon: AttributeError: 'NoneType' object has no attribute 'is_ajax'"
After installing on a new Ubuntu 14.04 LTS VM and launching horizon with `fab horizon.dev_server` I tried to connect to it with lynx. The result was a 500 Internal Error, and horizon produced the following log:

[code]

[2015-09-02 08:52] garcianavalon commented on #12
Hi,
You are getting a 401 error: Unauthorized: The request you have made requires authentication. (HTTP 401) when Horizon tries to connect to Keystone.

Make sure that:
- You've run the task fab keystone.populate to create all the required elements in the back-end. https://github.com/ging/fi-ware-idm/#steps-to-install-the-idm-using-the-tools
- The admin user configured in Horizon exists in Keyston

[2015-09-02 09:35] garcianavalon commented on #11
Dear @IAIS4EP,

I'm closing this issue as no extra info is provided and, to my knowledge, all social features from the specification are supported. If you have more info on this topic, feel free to reopen this issue or a new one.

Best regards,
Enrique

[2015-09-02 09:35] #11 closed, assigned to nobody

[2015-09-02 10:26] pjt33 commented on #12
Aha. I thought I only skipped `fab keystone.test_data`, but I must have skipped `fab keystone.populate` as well. Thanks.

[2015-09-08 15:25] j99ht opened #13 "Django server timeout from HostOS browser"
I have installed IDM in a VMWare virtual server.

From Firefox in VMWare server, I'm able to reach IDM GUI, Horizon has started with a internal IP address belonging to the domestic network (modifiying this in settings.py) (not using 127.0.0.1). However, from the Host or any other machine within the domestic network it is not possible to access Horizon (neither using an internet brower nor telnet t

[2015-09-09 07:39] garcianavalon commented on #13
Hi,
I'll have to look into it because I don't know for sure what could be happening as you are the first one to have an issue like this. In my experience with other projects that used Django, if you are using the development server (running Horizon with fab horizon.dev_server or directly with sudo python tools/with_venv.sh python manage.py runserver) you have to make sure that Django listens to th

[2015-09-09 08:12] j99ht commented on #13
Thanks Enrique,

VM is accesible from my host and there are no port forwarding defined, VMware is taking care of this.

I'll migrate to Apache following the production set up guide. Once set up is done, how should I run Horizon and Keystone?

Thanks

[2015-09-09 08:48] garcianavalon commented on #13
Just follow the production set up guide http://fi-ware-idm.readthedocs.org/en/latest/setup/. It should be the same on a VM, as long as you have properly configured the network issues.

To run Keystone I recommend you to set it up as a service https://github.com/ging/keystone/wiki/Configure-as-service-guide

To run Horizon, just use Apache with mod_wsgi http://fi-ware-idm.readthedocs.org/en/latest/

[2015-09-09 08:48] #13 closed, assigned to garcianavalon

[2015-09-14 11:33] marcinbudny opened #14 "Docker support"
Hello,

I can see there is a Dockerfile present in the repository. However this seems to be work in progress (as of commit 01c6d69099067a5c7ccc6050e2419437ae5ccd91). We are very much interested in deploying the Keyrock IdM from Docker. When do you plan to complete this task?

[2015-09-14 12:28] garcianavalon commented on #14
Hi,

Docker support is a high priority task right now and it will be ready before the end of this month, most probably by the end of this week.

Best regards,
Enrique

[2015-09-14 12:28] #14 closed, assigned to garcianavalon

[2015-09-16 10:57] albertinisg opened #15 "Fiware-idm Dockerfile"
Hi!

I've seen you've started creating Dockerfiles for the `fiware-idm`. I just wanted to point that we've made already an initial effort to create a `fiware-idm` image and maybe it could help :)

The image is available in our [Github Repository](https://github.com/Bitergia/fiware-chanchan-docker/tree/master/images/idm-keyrock) and also in [Dockerhub](https://hub.docker.com/r/bitergia/idm-keyrock/

[2015-09-16 12:31] garcianavalon commented on #15
Hi!

Thank you very much for pointing this out, it will surely help us. I will take a look into it and give you some feedback too after creating our own Dockerfile and containers. ;)

Best regards!
Enrique

[2015-09-16 14:54] albertinisg commented on #15
Glad to hear! :) If you have any doubts, comments or suggestions about it just let us know and we will try to help.

Best!

[2015-10-06 15:07] woutervddn opened #16 "Documentation is wrong/incomplete"
fiware-idm `README.md` still refers to the following docker: `ging/idm` instead of `ging/fiware-idm`. Furthermore the requirements list:
- A

as a requirement.

[2015-10-06 15:25] garcianavalon commented on #16
Fixed in edff440c875f0e1195de1fd27ff6757377f8210a and d795717f19867b165af446e0d743ebf1cf8bda4c.

Thanks.

[2015-10-06 15:25] #16 closed, assigned to garcianavalon

[2015-10-08 10:07] Miliks opened #17 "Automatic installation guid"
There is no text for automatic installation for the IdM for Installation and Administration guid.
Could you please provide the instruction for this?
Thanks in advance,

[2015-10-08 10:14] garcianavalon commented on #17
Hi Miliks,
What version of the documentation are you seeing? There is definitely text in that section.
http://fiware-idm.readthedocs.org/en/latest/admin_guide.html#automated-installation-recommended
http://fiware-idm.readthedocs.org/en/latest/admin_guide.html#installing-the-back-end
http://fiware-idm.readthedocs.org/en/latest/admin_guide.html#installing-the-front-end

[2015-10-08 10:20] Miliks commented on #17
Ok, the link u provided is valid, thanks.
But i was following the link from here https://github.com/ging/fiware-idm/tree/master/doc... and there there is no text, at least i can't see anything there.

[2015-10-08 10:22] Miliks commented on #17
moreover the links provided in fiware catalog are not valid as well because they point to the following urls and not to the urls you just sent me in your message:
http://fiware-idm.readthedocs.org/en/latest/user_guide/
http://fiware-idm.readthedocs.org/en/latest/admin_guide/
...

[2015-10-08 10:32] garcianavalon commented on #17
Thanks for reporting the issue. I will fix the links from the catalog.

About this link  https://github.com/ging/fiware-idm/tree/master/doc, where have you find it? The documentation should be read in http://fiware-idm.readthedocs.org and not in github. The reason is because the documentation has to be compiled from reStructuredText to html (or other formats) or you will see weird stuff like you h

[2015-10-08 10:43] Miliks commented on #17
Thanks for the quik reply.
I was looking for the guid on the catalog and since the links were broken i started to look for some info on the git, where u put the sources ... i know what very often there is a documentation also there.
Thanks again!

[2015-10-08 11:32] garcianavalon commented on #17
Thank you for reporting the broken links ;)
I'll close the issue now.

[2015-10-08 11:32] #17 closed, assigned to garcianavalon

[2015-10-08 16:41] s209019 opened #18 "Email signup not sent and " unsupported operand type(s) for +: 'NoneType' and 'str' " error"
Hi!
I have installed fiware-idm in a Ubuntu VM.

I had 2 problems:
--No mail is sent when i try to sign up, so i can't log in.

--When i log in using testing account,  an error occurs if i click on the "settings" button below the username label (top-right side)
![error](https://cloud.githubusercontent.com/assets/12278798/10373102/97c8f334-6deb-11e5-8557-fab172c051a6.png)

Here is the complete trac

[2015-10-09 08:19] garcianavalon commented on #18
Hi!

The email not being sent could be because you haven't configured it properly. If you don't change the settings by default it will just print the email in your console. You can find how to set it up to send emails through an HTTP server here: http://fiware-idm.readthedocs.org/en/latest/setup.html#email-configuration.

The last error is a bug in the code, shame on me. I will upload a fix today.

[2015-10-09 08:25] s209019 commented on #18
Thank you very much!|

[2015-10-09 08:33] garcianavalon commented on #18
The None Type error is fixed in https://github.com/ging/horizon/commit/55edf32723af76a019eefb1894948d8ab38629d3

[2015-10-13 09:59] aalonsog opened #20 "Error registering an application when logged as an Organization"
When you are logged as an organization and you try to register a new application, you get the error:

Error: Unable to register the application.

[2015-10-13 15:18] woutervddn opened #21 "Can't get docker to work."
I'm having a hard time configuring the docker image. When accessing the container we keep getting a "connection refused"-error. This error occurs even when using wget from the host device

I'm using this command to start the docker:
`sudo docker run -d --name idm -v /home/ubuntu/host_config_file:/opt/idm/openstack_dashboard/local/local_settings.py -v /home/ubuntu/host_db_file:/opt/idm/keystone/key

[2015-10-15 09:21] michelevolpe commented on #8
Hi Vladan,
same problem as you were experiencing ....  String length exceeded...
Could you please elaborate a little bit about commenting line for "oauth_proxy" e "grant" ?

Thanks
 Michele

[2015-10-15 16:47] garcianavalon commented on #21
Hi @woutervddn,

The docker image is experimental. Right now we are in process of discussing how should we use docker for the IdM. It makes little sense just to have a docker image, so we are probably going to implement a docker-compose file to do all the work required to make an IdM work.

I can't help you right now with your specific issue, sorry. The docker-compose (or whatever solution we deci

[2015-10-15 16:47] #21 closed, assigned to nobody

[2015-10-19 10:00] aalonsog commented on #20
Then... is the bug already fixed?

[2015-10-19 15:07] federicofdez commented on #20
Hi,
It's been fixed in ging/horizon@b307e3f2931f3f5aba84d9c56984bbea75446919.
Thanks for reporting the issue!

[2015-10-19 15:08] #20 closed, assigned to federicofdez

[2015-10-23 13:44] Jaredmmx opened #22 "Step by step Installation failed"
I've successfully followed all steps until fab  keystone.dev_server when:

2015-10-23 14:37:25.290 1174 WARNING keystone.openstack.common.versionutils [-] Deprecated: keystone.middleware.core.XmlBodyMiddleware is deprecated as of Icehouse in favor of support for "application/json" only and may be removed in Kilo.
2015-10-23 14:37:25.394 1174 WARNING keystone.openstack.common.versionutils [-] Depre

[2015-10-26 11:03] garcianavalon commented on #22
Hi @Jaredmmx ,

Keystone is a REST service and its there waiting for you to make a request. If you don't ask him to do anything, it won't do anything, as any other server.
Try using the REST API http://fiware-idm.readthedocs.org/en/latest/introduction.html#api-overview
Or run horizon to provide a GUI for Keystone http://fiware-idm.readthedocs.org/en/latest/admin_guide.html#installing-the-front-end

[2015-10-26 11:04] #18 closed, assigned to garcianavalon

[2015-10-26 11:37] antonis179 opened #23 "No keystone commands can be run"
The installation completed successfully from "http://fiware-idm.readthedocs.org/en/latest/admin_guide.html" and all the endpoints are functioning correctly.

However while trying to setup keyrock to function with the Object Storage GE by following this guide "http://thornelabs.net/2014/07/16/authenticate-openstack-swift-against-keystone-instead-of-tempauth.html" any command that involves "keystone

[2015-10-26 11:40] garcianavalon commented on #23
I'll take a look into it.
For now, you can make the same steps using curl (or any other tool of your choice) using the API directly
http://developer.openstack.org/api-ref-identity-v3.html

[2015-10-26 12:06] garcianavalon commented on #23
that keystone command is not referring to the IdM installed keystone, as we don't install that command. It might be installed in the machine from another source. Use the API instead

[2015-10-28 10:59] Jaredmmx commented on #22
I've successfully completed install, using the scripts provided.

I'd appretiate documentation or supported method to install our extension in a vanilla Keystone or instructions to correctly copy-paste all the extensions and required conf in my Keystone.

[2015-10-28 11:09] Jaredmmx opened #24 "Assign/Remove Role from user return 404 error"
I 'm creatibg a PHP class to provide access to fiware-idm services

Everything works fine except for user role assignment and removal

CREATE USER:
2015/10/28 11:39:07 [keyrock] [application] Keyrock Create User: Array
(
    [userName] => jesus
    [displayName] => Jesus Apellido
    [id] => jesus
    [urn:scim:schemas:extension:keystone:2.0] => Array
        (
            [domain_id] => default

[2015-10-28 11:22] garcianavalon commented on #24
Hi @Jaredmmx ,

I'm not very familiar with PHP syntax, so I'm not sure exactly how are you authenticating. Which token are you using to authenticate the assignUserRole call? It should be one of a user that is either admin in Keystone or has the provider role assigned in the 2f3086d19b914c5792767d5ddeab37a8 application.

[2015-10-28 11:25] garcianavalon commented on #22
Its a planned improvement but I can't say when will it be ready. I can give you support I've you encounter an specific issue.

I'll close this issue for now, feel free to open it again if something is not yet solved.

[2015-10-28 11:25] #22 closed, assigned to garcianavalon

[2015-10-28 11:25] garcianavalon commented on #23
I'll close this issue for now as is not related to the IdM. Feel free to open it again.

[2015-10-28 11:25] #23 closed, assigned to garcianavalon

[2015-10-28 11:45] Jaredmmx commented on #24
There's no PHP code in this.... just JSON response bodies and/or headers.

I'm sending the following HEADERS:
 HEADERS: Array
(
    [User-Agent] => Array
        (
            [0] => GuzzleHttp/6.1.0 curl/7.36.0 PHP/5.5.12
        )

[code]

)

where 'ADMIN' corresponds to the admin_token configured in keystone.conf file

Anyway.... I guess if that was the reason I should get an Autehtication Erro

[2015-10-28 12:06] garcianavalon commented on #24
woops, my mistake. I read 403.
If you are getting a 404 one of the resources doesn't exists. Do a get for one of each and find out which one is missing:
GET /v3/users/user_id
GET /v3/OS-ROLES/consumers/consumer_id (application is called consumer in OAuth)
GET /v3/OS-ROLES/roles/role_id
More documentation about this here http://docs.keyrock.apiary.io/#reference/keystone-extensions/rol/read-role-det

[2015-11-03 10:44] ghost opened #26 "[documentation] broken link in admin guide"
[Admin documentation](https://github.com/ging/fiware-idm/blob/master/doc/admin_guide.rst) points to this repository. [A fragment](https://github.com/ging/fiware-idm/blob/master/doc/admin_guide.rst#4-running-a-development-server) says not to use this settings for a production server, points to a link that [is broken](http://fiware-idm.readthedocs.org/en/latest/setup).

[2015-11-03 11:04] garcianavalon commented on #26
fixed in 7a1229b50d4bc6af4c4d0d74e5bd6dd3a2bbe5a9
Thanks for the report :)

[2015-11-03 11:04] #26 closed, assigned to garcianavalon

[2015-11-03 11:46] ghost commented on #26
Thanks, so fast. Another issue, here? Broken link there:
http://fiware-idm.readthedocs.org/en/latest/setup.html#production-apache

You can find aditional help for setting up Keystone + MySQL here.
http://docs.openstack.org/havana/install-guide/install/apt/content/keystone-install.html -> http://docs.openstack.org/juno/install-guide/install/apt/content/keystone-install.html

[2015-11-03 12:56] garcianavalon commented on #26
yeah, it looks like the link pointed to an old version is not supported anymore in the docs.
fixed in 92bfca023ddcb874614cccb0e8ae3ad18caaf190
Thanks again!

[2015-11-05 12:19] ghost commented on #26
Next :)

not working:
http://fiware-idm.readthedocs.org/en/v4.4.1/oauth2
http://fiware-idm.readthedocs.org/en/latest/Oauth2.html

works:
http://fiware-idm.readthedocs.org/en/v4.4.0/oauth2

should be the same?

[2015-11-05 12:41] ghost opened #27 "mail confirmation has invalid FROM and DOMAIN (it's hardcoded)"
Hi,

I configured successfully the email following this guide
http://fiware-idm.readthedocs.org/en/latest/setup.html#email-configuration

But the source of the email that I receive says:

[code]

The activation link has bad domain:

[code]

if I change to this:

[code]

and it works, so where I can change these variables?
I think they are not in /opt/idm/horizon/openstack_dashboard/local/local_set

[2015-11-05 13:52] garcianavalon commented on #26
haha thanks.

For v4.4.0 should be:
http://fiware-idm.readthedocs.org/en/v4.4.0/oauth2

For v4.4.1 and onwards should be:
http://fiware-idm.readthedocs.org/en/latest/oauth2.html (change latests with the version number)

There is a change due to switching from MarkDown to ReStructuredText for the documentation. Is there a place where the links are broken?

[2015-11-05 15:00] ghost commented on #26
Ok, good to know

Now, how I get this broken links.
In google:
fiware idm oauth2

It is in third or forth position
https://www.google.es#q=fiware+idm+oauth2

you got:
http://fiware-idm.readthedocs.org/en/v4.4.0/oauth2/

from there, changing link manually, bad idea. But here is the broken link, "Read the docs" submenu and change version to 4.4.1 or latest. Is there a way to somehow redirect like th

[2015-11-05 15:20] garcianavalon commented on #26
To be able to change from v4.4.0 version to others it would be requiered to configure some redirects due to the change in url structure. This is more of a read the docs issue, that generated the urls differently. I don't know if I can make those redirects somehow...

The integration is possible with versions greater than v4.4.1 and given the fact that v4.4.2 will come soon and v5 is on the makings

[2015-11-05 15:54] federicofdez commented on #27
Hi,

You are right. This is a known issue, and we solved it partially a couple weeks ago (ging/horizon@69c6a2ea240e3bad9ad97bf079da6d327d847b39). The invalid `from:` field has been fixed in ging/horizon@422a07eb45f57e5393eb70177f0d7b6cc0ba51c7.

Notice that this hasn't been merged yet, but we're planning to include it in the next KeyRock release, which may come out within the next few weeks.

Than

[2015-11-05 17:25] garcianavalon commented on #24
I understand this is issue is resolved.
@Jaredmmx  feel free to open it again if not.

[2015-11-05 17:25] #24 closed, assigned to garcianavalon

[2015-11-05 23:33] ghost commented on #27
As I understand next version fix this easily. I suppose as another variable in django config of horizon.

But now, for the current version, perhaps that variable is hardcoded in another place, where? Thanks

[2015-11-05 23:38] ghost commented on #26
I think is not a good idea to destroy old documentation. One organization could continue using 4.4.0 and cannot upgrade due to its SLA's.

Is this useful for you in order to do redirection?
http://read-the-docs.readthedocs.org/en/latest/user-defined-redirects.html
http://read-the-docs.readthedocs.org/en/latest/automatic-redirects.html

[2015-11-06 08:46] garcianavalon commented on #26
Yeah, looks useful. I'll take a look into it, thanks.

[2015-11-06 08:52] garcianavalon commented on #27
Yeah, the from_email was hardcoded.

Now we changed it to use the django setting DEFAULT_FROM_EMAIL, v4.4.2 should be ready for next week.

If you want to fix it yourself, you can cherry pick the commits from https://github.com/ging/horizon/commits/development, do a merge yourself or replace the hardcoded values to your harcoded email. If you want to see where are all the hardcoded values, take a

[2015-11-19 17:37] IAIS4EP opened #28 "Problems with auth token"
Please see this issue: https://github.com/IAIS4EP/fiware/issues/4

[2015-11-24 23:11] ghost opened #29 "[bug] fabfile deployments scripts of keystone and horizon are not compatible with docker cache"
According to [this documentation source](https://docs.docker.com/engine/articles/dockerfile_best-practices/#apt-get) docker cache only check latest version of

[code]

src https://github.com/ging/fiware-idm/blob/master/extras/docker/Dockerfile

The **problem** is that if they are in the latest version, **no** apt-get update is performed, but could be required for dependencies of deployment of keys

[2015-11-25 03:40] ghost commented on #29
So perhaps that's why bitergia's dockerfile include all that dependencies at the beginning
https://github.com/Bitergia/fiware-chanchan-docker/blob/master/images/idm-keyrock/4.3.0/Dockerfile
(I don't know if there are all)

[2015-11-25 10:56] vmladenovic opened #30 "Problem with keystone.populate command"
Hello,
I am trying to install Keystone and Horizon on Ubuntu 14.04 using your instructions. I am able to login using default user idm and to create an new application as well. But there is no applications client secret and id available anywhere (as it is case on FiwareLab instance). It must be some permission issues. Also when I try to execute
    fab keystone.populate
I receive following errors:

[2015-12-02 15:20] federicofdez commented on #27
I'll close this issue now, but feel free to reopen it if you have further doubts.

Thanks again.

[2015-12-02 15:21] #27 closed, assigned to federicofdez

[2015-12-02 17:15] ghost commented on #30
Hi,

I recommend you to use docker, and the docker of idm of bitergia
https://github.com/Bitergia/fiware-chanchan-docker/tree/master/images/idm-keyrock/4.3.0

If you don't want to use it, look at the scripts how all the things go on. Because there you have a working database out of the box with some default user and application registration (`default_provision.py`).

As said in [other issue](https

[2015-12-03 14:01] ghost opened #31 "[documentation] Fix inconsistencies of Keyrock API"
After long hard work I could start working with Keyrock API, because I didn't know where was the problem.

Please, fix inconsistencies in Keyrock API:
http://docs.keyrock.apiary.io/

If I can help contributing, tell me.

Example with http://docs.keyrock.apiary.io/#reference/keystone-extensions/consumers/list-consumers `GET http://keyrock/OS-OAUTH2/consumers` is not very self explanatory. Reading a

[2015-12-14 14:46] ghost commented on #27
Why a bug is closed if is not solved?

[2015-12-15 16:06] garcianavalon commented on #27
Fixed it in https://github.com/ging/horizon/commit/6ff503d2aa8929ac86ad726bcd016d2b155f7121

[2015-12-16 01:51] ghost commented on #27
Nice that is solved, sorry if I didn't understand and/or the mood.

Let me share with all of you other parts that are hardcoded and where (if this is useful):

I used this program
`apt-get install silversearcher-ag`

email replacement (this is theoretically solved with ging/horizon@6ff503d):
`ag -l -u --nocolor no-reply@account.lab.fiware.org | xargs perl -pi -e "s/account.lab.fiware.org/${IDM_MAI

[2015-12-21 14:36] ghost opened #32 "[bug] docker build failed"
git clone https://github.com/ging/fiware-idm
cd fiware-idm/extras/docker
docker build .

(...)

[code]

[2015-12-29 13:26] dmabtrg commented on #32
I was getting that same error a few days ago.  Now keystone fails to install with a different error, but still related to keystone dependencies:

https://gist.github.com/dmabtrg/6948b90ab064d4de91cf

[2016-01-05 14:12] msoula opened #33 "[bug] Can't install IdM with guide instructions."
Hello I can't install IdM - Keyrock. I've followed Steps to install the IdM using the tools and I got an error while executing `fab keystone.install`. It seems that oslo.test.module installation failed.

I've tried on several os (ubuntu12.04, ubuntu14.04, debian8) and always had the same error.

Here is the log:

[code]

[2016-01-05 14:17] msoula commented on #33
Finally I installed the whole stuff. Here is what I did (my server is a Debian 8 jessie).

# Installing IDM Tools

Install python and python-dev: `sudo apt-get install python python-dev`

Clone the tools in your machine: `git clone https://github.com/ging/fiware-idm idm && cd idm`

Create a settings file from the template: `cp conf/settings.py.example conf/settings.py`

Create a virtualenv and act

[2016-01-05 23:32] dguard commented on #33
I got same issue while installing Keyrock on ubuntu@14.04.

**msoula**, very appreciate your solution!
It works for me :)

[2016-01-06 00:14] msoula commented on #33
I'm glad it helped you!

I think there are some problems with fiware-idm tools scripts:
- both fiware tools `deployment/{horizon/keystone}.py` use sudo command to execute {horizon/keystone} install scripts. I think this is bad: sudo gets rid of current user var env and create files that don't belong to the current user in its own home directory;
- in both {horizon/keystone} tools/with_venv.sh scri

[2016-01-07 09:10] DerJayDee commented on #33
I tried the solution form @msoula on debian 8.2.
Since keystone is already up and running on another machine I just tried to use the steps described in 'Installing IDM Tools' and 'Installing horizon'. But when I executed `python tools/install_venv.py` the following error popped up:

[code]

Yes, it is pretty much the error described in the initial issue description.

Maybe it should be mentioned t

[2016-01-07 10:44] msoula commented on #33
Indeed, I got the same results here...

Don't ask me why, I'm not a python geek, but here what you can do:
- follow all steps described in `Installing IDM Tools`
- clone keystone repo and install dependencies as shown in `Installing keystone`
- follow all steps described in `Installing horizon`.

It worked for me. Maybe there is a horizon dependencie that can only be installed through keystone req

[2016-01-07 11:55] garcianavalon commented on #33
Hi all,
Sorry for not giving support earlier, I've been out of the office for some weeks.

Back to the issue, reading through the comments, it seems that you found a work around and were able to install it. I will check the tools to see what is the issue exactly. Two important things to keep in mind:
- The scripts in the tools to install simply follow the steps listed [here](http://fiware-idm.read

[2016-01-07 11:59] garcianavalon commented on #32
Docker support is postponed until the next major release where the installation method will be changed to use pip instead of the idm tools scripts.

There is a non-official docker image working done by bitergia https://github.com/Bitergia/fiware-chanchan-docker/tree/master/images/idm-keyrock, take a look at it if you need docker now.

[2016-01-07 11:59] #32 closed, assigned to garcianavalon

[2016-01-07 11:59] #15 closed, assigned to garcianavalon

[2016-01-07 12:01] garcianavalon commented on #29
same answer as https://github.com/ging/fiware-idm/issues/32

[2016-01-07 12:01] #29 closed, assigned to nobody

[2016-01-07 12:02] garcianavalon commented on #28
Seems to be solved

[2016-01-07 12:04] garcianavalon commented on #30
Keystone.populate command is going to be removed in the next major release for a sql-alchemy migrate script https://github.com/ging/keystone/commit/afa092ad05c128d0180359e3ab71fae5acd9f591

[2016-01-07 12:04] #30 closed, assigned to nobody

[2016-01-07 12:07] msoula commented on #33
@garcianavalon:
- the steps you indicated didn't work for me
- I don't think using `sudo` should work, besides I think it is a bad practice to use `sudo` while configuring and installing stuff into some user home directory.

I'm glad to hear about new install scripts using pip, sounds like a good idea ^^

[2016-01-07 14:28] DerJayDee commented on #33
@msoula thanks for your input.
After removing mysql-python from the requirements and pysqlite, python-ldap, and ldappool from the test-requirements I was indeed able to startup the server via `tools/with_venv.sh python manage.py runserver 0.0.0.0:8090`. But upon calling 0.0.0.0:8090 I recieved the following error (url from keystone server is substituted with 'other.server'):

[code]

So is somethi

[2016-01-07 14:30] msoula commented on #33
@DerJayDee Sorry this is far from my domain of expertise :/

[2016-01-07 16:02] federicofdez commented on #31
Hi!

Thanks for writing. The need of an Auth Token header when making requests to the Keystone API (and therefore the Keyrock API) is shown [here](http://docs.openstack.org/developer/keystone/api_curl_examples.html). We agree that this might not be quite emphasized in the Keyrock API explanation, so we'll change it within the next few days to make it more self explanatory.

After taking a deep loo

[2016-01-10 07:12] asafnevo commented on #28
Generating a successful Client Credentials grant login flow I received an access token from the server at:

http://account.lab.fiware.org

When trying to use the access token for querying `/user` end point I receive the following error

`{"error": {"message": "object of type 'NoneType' has no len()", "code": 400, "title": "Bad Request"}}`

Querying the same endpoint using an access token received

[2016-01-11 10:10] garcianavalon commented on #33
@DerJayDee looks like horizon can't authenticate with Keystone. Have you populated the Keystone database? You need at least a user for Horizon, among some other things.

[2016-01-11 11:13] DerJayDee commented on #33
@garcianavalon Thanks for your reply. Indeed I did noch execute `keystone-manage db_sync --populate`. But this is nowhere listed in the step by step guide.

After executing this at least the curl examples from http://docs.openstack.org/developer/keystone/api_curl_examples.html#getting-a-token-from-a-token worked but horizon is still unable to connect:

[code]

So the admin port uses the localhost

[2016-01-11 14:17] garcianavalon commented on #33
@DerJayDee yes, it is not listed in the docs because its a new feature for the next release, but it works so good that you used it.

About the authentication problem,
- are Horizon and Keystone in the same machine?
- check the file at horizon/openstack_dashboard/local_settings.py and make sure the following settings match with the stuff created in the database in Keystone:
  - IDM_USER_CREDENTIALS

[2016-01-11 15:07] DerJayDee commented on #33
@garcianavalon no, they are located on different machines.

I assume yo are reffering to the settings in horizon/openstack_dashboard/local/local_settings.py.
I checked user credentials and admin app but I cannot finde the roles. Where should they be listet? Or where can I enter that into a config script to use the `db_sync --populate` again?

[2016-01-11 15:43] garcianavalon commented on #33
@DerJayDee if they are in different machines you can't access Keystone using a localhost address:
`Unable to establish connection to http://127.0.0.1:35357` You will have to use a Keystone machine's address that the Horizon machine can reach.

The roles that `--populate` action creates can be seen [here](https://github.com/ging/keystone/blob/master/keystone/contrib/initial_data/data.py#L277), make

[2016-01-12 07:20] DerJayDee commented on #33
@garcianavalon thanks for pointing me to /keystone/contrib/initial_data/data.py, that was the config missing to me! Now i got keystone and horizon up and running!

[2016-01-12 10:48] garcianavalon commented on #33
@DerJayDee cool :D

[2016-01-12 10:48] #33 closed, assigned to garcianavalon

[2016-01-18 09:31] DerJayDee opened #34 "FIWARE_CLOUD_APP / ROLE_ID"
The settings defined in https://github.com/ging/horizon/blob/master/openstack_dashboard/local/local_settings.py.example#L569 seem to cause trouble in my installation of keystone / horizon:
I signed up in the frontend to create a new user, logged in as admin and tried to change the new user role to a community role. Upon sending the request I get the following error:

[code]

I believe that the FIW

[2016-01-18 09:46] DerJayDee opened #35 "Error 500 on deleting applications / organizations"
Upon trying to delete an organization or application I receive `Error: An unexpected error prevented the server from fulfilling your request. (HTTP 500)` in the webfrontend. The server log from horizon only shows this:

[code]

The keystone log shows this:

[code]

I believe it comes from the "OS-AUTH2" in the DELETE URL but I don't know where to change this and to what it should get changed.

Loo

[2016-01-19 14:38] garcianavalon commented on #35
@DerJayDee Which database are you using? What is the encoding?

[2016-01-19 14:39] garcianavalon commented on #31
Seems solved. I'll close this for inactivity, feel free to open it again.

[2016-01-19 14:39] #31 closed, assigned to federicofdez

[2016-01-19 14:48] garcianavalon commented on #34
That setting is very specific to the FIWARE Lab use case, where the Cloud Portal is stored as an application so it can use the OAuth protocol to log in users. What makes this app more important is the fact that certain types of users (community and trial) are required to be authorized in the app (in other words, have roles assigned). Therefore, when you try to update the user's status to community

[2016-01-19 14:52] garcianavalon commented on #28
@asafnevo when you say the other login flows do you mean the other oauth 2 grants?

I will check the Client Credential Grant

[2016-01-19 15:01] asafnevo commented on #28
@garcianavalon That's correct. All 3 - code, implicit and password works perfectly.. but when using the  access token generated by the Client Credentials Grant Type always return the error above

[2016-01-19 15:07] DerJayDee commented on #35
@garcianavalon I am using PostgreSQL 9.4 with UTF8 encoding.

[2016-01-19 15:17] garcianavalon commented on #35
@DerJayDee I've never tried the IdM with Postgre, let me set up a database and make some tests

[2016-01-20 06:41] DerJayDee commented on #34
Thanks for the reply.
I thought the user types would activate the signed up account.

So if I don't want to use the FIWARE Lab, all FIWARE parameters in local_settings.py can be ignored?

[2016-01-20 07:46] garcianavalon commented on #34
I would like to say yes, ignore all FIWARE_ settings, but some of them are required :( In general, sensible defaults are provided. If you have a doubt of any in particular, just ask.

[2016-01-20 10:44] DerJayDee commented on #34
Okay I'm going on just ignoring these settings, thanks.

[2016-01-20 10:44] #34 closed, assigned to garcianavalon

[2016-01-22 17:35] dmabtrg opened #37 "oslo.i18n dependency error while trying to install keystone"
When trying to install keystone, both by following the automated install and the manual install of the documentation, it fails with the following error:

[code]

Trying to install a higher version of oslo.i18n seems to break another dependecies.
The error happens with both the keyrock-4.4.1 release tag and the latest version.

[2016-01-25 14:47] DerJayDee opened #38 "Changing horizon ports"
Well well, me again, sorry to bother but I ran into another problem: I tried to serve the horizon dashboard via SSL. That worked pretty well by simply redirecting the previous used url to my apache ssl port behind what i dropped the whole django part. The only problem with this is, that the logout action wants to request a normal http-ressource via XmlHTTPRequest and therefore it uses the ssl port

[2016-01-25 14:52] federicofdez commented on #35
@DerJayDee Looks like your issue might be caused by some migrations not being compatible with PostgreSQL. This has just been fixed in ging/keystone@7da815bb3f7f3ba3b4aff85f83638fbfa05e38e0 and will be merged within the next weeks. You can cherry-pick this commit in the meantime.

You will also have to apply the new migrations, by running the following commands:

[code]

Hope this solves your issue

[2016-01-25 14:52] #35 closed, assigned to federicofdez

[2016-01-25 14:56] garcianavalon commented on #38
Hi @DerJayDee , no problem ;)

To logout the IdM uses a js call to implement a single sign out in all of the specified websites. You can see the file [here](https://github.com/ging/horizon/blob/master/openstack_dashboard/static/fiware/signOut.js). By default it will use `developmentCall`. Edit your file [changing this line](https://github.com/ging/horizon/blob/master/openstack_dashboard/static/fiw

[2016-01-26 06:24] DerJayDee commented on #38
Thank you, works like a charm!

[2016-01-26 06:24] #38 closed, assigned to garcianavalon

[2016-01-26 07:10] DerJayDee opened #39 "Granting admin permissions to another user"
I tried to grant admin permissions to an user. In the horizon frontend everything seems to work fine: I can select the user in the manage administrators panel, I can grant the role purchaser for the idm_admin_app to that user and upon clicking save I get a success message. But that user never shows up in the list of authorized administrators and upon logging in with that user, the admin functions

[2016-02-02 08:40] harpreet-singh-bola opened #40 "APPLICATION REGISTRATION PROBLEM"
The application registration procedure in KeyRock is facing some problems. When we try to register an application no errors are returned and the step to configure roles (step 3) is directly skipped.

Application is created successfully but it is not possible to remove it, to change roles and permissions and I even can't see oAuth2 credentials.

First we discussed the problem [here](https://ask.fiw

[2016-02-03 11:33] hansjd opened #41 "Link to chef cookbook broken"
https://github.com/ging/fiware-idm/tree/master/extras/chef/fiware-idm

guessing this is the correct link: https://github.com/ging/fiware-idm/tree/master/extras/chef

[2016-02-03 14:32] garcianavalon commented on #41
thanks for your feedback! I'll fix it

[2016-02-04 09:37] ddrenjanac commented on #40
We have the same problem. During the registration of application, step 3 is automatically skipped and, although the application is successfully registered, it is impossible to neither edit/manage it nor to see OAuth2 credentials.

Regards,
Domagoj

[2016-02-05 09:40] garcianavalon commented on #41
Fixed in https://github.com/ging/fiware-idm/commit/8c5ff43838e52c7cc6840406deb881b2560a2a1d

[2016-02-05 09:40] #41 closed, assigned to garcianavalon

[2016-02-05 09:49] garcianavalon commented on #37
This should be fixed in the new release. Reopen this issue if you still encounter an error.
https://github.com/ging/keystone/commit/633cc96d76b3c8cc1e302086ebcd4045bc3e668b

[2016-02-05 09:49] #37 closed, assigned to nobody

[2016-02-05 09:52] garcianavalon commented on #40
Hi all,
Are you using your own installation or the Cloud Portal image? In case of the latest, try using the new release one (5.1.0)

Cheers

[2016-02-05 12:25] ddrenjanac commented on #40
Hi,

we are using own installation of keyrock, i.e., keystone + horizon. We have just followed the steps to obtain the keystone and horizon from github and built/configured them manually.

What is interesting, after populating keystone with test data, the test user user0@test.com has already one registered application which is editable/managable. But when the same user tries to register a new appl

[2016-02-05 12:57] garcianavalon commented on #40
Hi @ddrenjanac,

We just released a new version today that changes the installation method to be more clear and easier to configure. If you don't have any important data I would advise you drop the database, remove the current installation and install it again following the new documentation. Most probably there is a configuration error on your installation.

We have removed the fabric tasks and t

[2016-02-05 13:11] garcianavalon commented on #39
I can't see anything wrong in this logs. My feeling is that the issue is either one of these:
- GET /v3/OS-ROLES/users/role_assignments?application_id=idm_admin_app is not returning correctly the role you assigned
- There is something going wrong in the logic in Horizon that doesn't recognize that role.

¿Can you try assigning provider instead of purchaser? ¿Can you make that GET with curl or some

[2016-02-08 11:31] harpreet-singh-bola commented on #40
Hello to all,

today I tried the new version.

First of all, I think, there is a typo in the installation documentation:

`cp etc/keystone.conf.example etc/keystone.conf`

in this command the file to be copied is keystone.conf.**sample** and NOT keystone.conf.**example**.

Second, the installation was successful for both back-end and front-end components. But when I access the home page at **local

[2016-02-09 15:35] ddrenjanac commented on #40
Hi @harpreet-singh-bola

I had the same problem as you and did following:

1) locate local_settings.py file in ../horizon/openstack_dashboard/local

2) locate following lines in the  local_settings.py file

IDM_USER_CREDENTIALS = {
    'username': 'idm',
   *\* 'password': '$$IDM_PASS',**
    'project': 'idm',
}

3) replace password with the password you entered during the keystone installation.

[2016-02-10 07:07] DerJayDee commented on #39
Thanks for your reply.
In the selection for admin authorization there is only the purchaser role to choose.
The request with curl results in the following:
`{"role_assignments": [{"organization_id": "idm", "application_id": "idm_admin_app", "user_id": "idm", "role_id": "provider_role"}], "links": {"self": "http://<ServerIP>:<AdminPort>/v3/OS-ROLES/role_assignments?application_id=idm_admin_app", "p

[2016-02-10 11:36] hansjd opened #42 "where is documentation for running keystone as service?"
at the end of installing backend, it says...

[code]

is this part missing in the docs, or is it suppose to link somewhere else?

[2016-02-11 06:40] DerJayDee commented on #42
Preface: I am no dev of keystone and every step I describe below you will follow at your own risk.

Create a file daemon.sh inside your keystone directory (in my case /opt/keystone, you might need to change that) containing the following:

[code]

and a file keystone in /etc/init.d containintg the following:

[code]

After reloading your init.d configs you should be able to use it as a normal serv

[2016-02-11 08:41] federicofdez commented on #42
Hi @hansjd,

There seems to be a broken link in the `README.rst` file. Thanks for reporting it!

The link should point to the [project's official docs](http://fiware-idm.readthedocs.org/en/latest/admin_guide.html#configuring-keystone-as-a-service), where we provide a basic example to let you configure Keystone as a service, in some way similar to what @DerJayDee just told you.

Hope this helps,

C

[2016-02-15 15:15] garcianavalon commented on #28
Ok, fixed this in https://github.com/ging/keystone/commit/faa2a88d0db9c0f0b5d16af836b3ec37d568c61c
Updated the docs too http://fiware-idm.readthedocs.org/en/latest/oauth2.html#get-user-information-and-roles

As I stated in the docs:

But it shouldn't break now :)
Thanks for your report!

[2016-02-15 15:15] #28 closed, assigned to garcianavalon

[2016-02-16 06:23] asafnevo commented on #28
It does make sense.
Thanks @garcianavalon !

[2016-02-16 10:26] garcianavalon commented on #42
Closing this issue. Feel free to open it again if the issue persits.

[2016-02-16 10:26] #42 closed, assigned to federicofdez

[2016-02-16 15:11] ddrenjanac opened #43 "Role assignment and user authorization"
Hi,

we have a problem with a role assignment and user authorization in keystone. Following is our use case:

We have two users in keystone, default one named idm and a user we created named test0. User idm registered an application which provided oauth2 credentials to oauth2 example client as well as pep proxy credentials to pep proxy. Moreover, user test0 is added as authorized user in the appli

[2016-02-17 08:14] harpreet-singh-bola commented on #40
Thank you @ddrenjanac, this did the trick also for me!

Regards.

[2016-02-17 18:46] mkard opened #44 "check_activated_two_factor() got an unexpected keyword argument 'user_name'"
Hi All,

I have installed  the new  release (5.1.0) ( horizon and keystone) but when I try to login with idm user I receive the error:
check_activated_two_factor() got an unexpected keyword argument 'user_name'
while I try to signup a new user I receive the error: Reverse for 'signup' with arguments '()' and keyword arguments '{}' not found. 0 pattern(s) tried: []
Please is there any explanation o

[2016-02-18 11:07] garcianavalon commented on #42
For reference, I added a link to the relevant README section that renders correctly in GitHub to the ReadTheDocs documentation in https://github.com/ging/fiware-idm/commit/71591998170a8e821649066e69267629e013a1bd

[2016-02-18 11:08] garcianavalon commented on #40
fixed the typo in https://github.com/ging/fiware-idm/commit/93a84279c51d28c58242918b896bdc0efa3ee488

Thanks for the report!

[2016-02-18 11:49] federicofdez commented on #44
Hi @mkard,

Thanks for reporting this issue. We are working on several improvements in the authentication module, which Horizon uses as dependency, and this must have made the stable version fail. Sorry for the inconveniences this might have caused you.

Anyway, I just updated the dependency (ging/django_openstack_auth@1289daadf52cf5278cb36fcbf21dd29f25d38ce1) to make it work again. To fix your in

[2016-02-18 20:41] mkard commented on #44
Hi Federico,

I would like to thank you for your immediate reaction. Everything are ok
now.

Best Regards
Marinos

2016-02-18 13:49 GMT+02:00 Federico Fernández notifications@github.com:

##

Kardaris Marinos
Systems Engineer - Aviation Expert

_Future Intelligence Ltd._
Technological & Scientific Park of Attica "Lefkippos"
NCSR Demokritos
Branch: Scientific & Technological Park of Epirus
Universi

[2016-02-18 20:57] #44 closed, assigned to federicofdez

[2016-02-19 12:18] federicofdez commented on #39
Hi @DerJayDee,

We looked into this issue, and turns out that the behaviour you're reporting is caused by the IDs of fiware roles. They should be just `provider` and `purchaser`, instead of `provider_role` and `purchaser_role`, which are the values that the Keystone initial-data extension used to assign.

We just fixed this in https://github.com/ging/keystone/commit/01fb769e1245db25a2dbf948999147b

[2016-02-19 12:18] #39 closed, assigned to garcianavalon

[2016-02-19 12:32] federicofdez commented on #43
Hi @ddrenjanac,

After looking into the **second problem** you're reporting, turns out that there is something wrong with the IDs of fiware roles. They should be just `provider` and `purchaser`, instead of `provider_role` and `purchaser_role`, which are the values that the Keystone initial-data extension used to assign.

We just fixed this in https://github.com/ging/keystone/commit/01fb769e1245db2

[2016-02-21 18:56] bekatom commented on #43
@FedericoFdez  Do you know  is this last changes updated on Fiware Cloud portal ?  I mean in ready instance of keyrock-R5.1.0 . As I know this image was created at Feb-16 .

[2016-02-22 08:26] federicofdez commented on #43
Hi @btomashvili,

We're planning to include these and some other fixes in a new release (5.1.1), which will come out within a few days. We'll update the instance in the Cloud Portal as soon as this happens.

[2016-02-22 19:15] mkard opened #45 "NoReverseMatch at /sign_up/"
In the last version, while the first problem (login as idm user ) is solved I can't signup a new user.
I receive the following error:

NoReverseMatch at /sign_up/
Reverse for 'signup' with arguments '()' and keyword arguments '{}' not found. 0 pattern(s) tried: []
Request Method: POST
Request URL:    http://192.168.200.189:8000/sign_up/
Django Version: 1.6.11
Exception Type: NoReverseMatch
Excepti

[2016-02-23 08:32] federicofdez commented on #45
Hi @mkard,

Thanks for writing. Could you please give me more detail about the version of Keystone and Horizon that you're currently running? I understand that you're running the latest release (v5.1.0) of both components, but wanted to be sure anyway in order to recreate your situation.

[2016-02-23 08:55] mkard commented on #45
Ηι,

Yes , the release is v5.1.0

2016-02-23 10:32 GMT+02:00 Federico Fernández notifications@github.com:

[2016-02-23 11:54] garcianavalon opened #46 "Test Zapier"
Will this work? :dancer:

[2016-02-23 11:55] #46 closed, assigned to nobody

[2016-02-23 11:55] garcianavalon commented on #46
worked!

[2016-02-24 11:02] federicofdez commented on #45
Hi,

As you may have seen, after looking into your problem, I finally found out where exactly the reverse issue was, and fixed it in https://github.com/ging/horizon/commit/10851f96e64d77ed5292e0cb5ce8bfc0d8200876. You can either cherry-pick this commit or wait for the new release (v5.1.1) to come out, which will happen within the next few days. Thanks for your report!

However, note that that line

[2016-02-24 13:31] federicofdez commented on #40
Seems to be solved.

Thanks again!

[2016-02-24 13:31] #40 closed, assigned to garcianavalon

[2016-02-25 11:24] mkard commented on #45
Hi,

Thank you for your answer. I did the modification and now I can create a
new user and I receive the message that the user is created.
Also I can check it as idm user
But when I try to login , I receive the message Invalid user name or
password
I have left the default settings for e-mail. I don't known if this create
the problem because in the log file of keystone I read " that the "_user is
d

[2016-02-26 08:50] federicofdez commented on #45
Hi,

After registration, the user receives an email with an activation link, and their account won't activate until this link is accessed.

In a production environment, Keyrock would actually send the email, but in a development environment we use Django console email backend, which outputs the email to the Horizon console. Therefore, all you need to do to activate the account you just registered

[2016-02-26 13:25] mkard commented on #45
Hi,

Yes , this procedure via console it works.For the development phase it is OK

For once more time
Thank's a lot
Have a nice weekend

Marinos

2016-02-26 10:50 GMT+02:00 Federico Fernández notifications@github.com:

[2016-02-29 09:08] #45 closed, assigned to federicofdez

[2016-02-29 11:52] federicofdez commented on #43
Hi @ddrenjanac,

Regarding the **first issue** you reported, I understand that you are expecting a response like this one (as explained [in the docs](http://fiware-idm.readthedocs.org/en/latest/oauth2.html#get-user-information-and-roles)):

[code]

If you check the link in the docs I took this response from, you will find that the endpoint is not exactly the one you seem to be using, but **`GET /u

[2016-03-01 09:31] jmcanterafonseca opened #47 "Fabre Apiary Rendering of JSON examples is not correctly indented"
for instance at

Create a Consumer  POST /OS-OAUTH2/consumers

[2016-03-01 18:40] federicofdez commented on #47
Hi @jmcanterafonseca,

I just checked http://docs.keyrock.apiary.io/ and everything seems to be rendering correctly there. Anyway, let me check this with Fabre. I'll come back to you ASAP.

Thanks!

[2016-03-02 05:14] bekatom commented on #43
@FedericoFdez  Is any news regard updating Fiware cloud instance ?

[2016-03-02 09:32] jmcanterafonseca commented on #47
I'm referring to

http://ging.github.io/fiware-idm/keyrock.html

2016-03-01 19:40 GMT+01:00 Federico Fernández notifications@github.com:

[2016-03-02 09:38] aalonsog commented on #47
Hi José Manuel,

we usually edit .apib file in Apiary website and then send it to you in order to generate the HTML/PDF with Fabre. Do you know how we can update the document to fix those indentations?

Thanks in advance

[2016-03-02 09:43] aalonsog commented on #47
Ok... I guess editing the indentations there should work. We are going to fix them.

[2016-03-02 10:09] jmcanterafonseca commented on #47
Hi Alvaro,

Now Fabre is ready to be used as any other FIWARE tool, please check
github.com/fiware/tools.Fabre

thanks

2016-03-02 10:43 GMT+01:00 Álvaro Alonso notifications@github.com:

[2016-03-02 10:34] federicofdez commented on #47
Fixed in https://github.com/ging/fiware-idm/commit/b98ec48f1073cd3e184753721a066073ab036265. If there's anything still not showing properly, just let us know.

Thanks!

[2016-03-02 11:56] #47 closed, assigned to federicofdez

[2016-03-02 12:31] ddrenjanac commented on #43
Hi @FedericoFdez

thank you for provided help. Unfortunately I did not have success in solving those two problems:

1 - problem - the GET request I posted is not generated by me. Indeed, it it the request generated by PEP enabler when asking IDM to check received access token. Does it mean that I have to change some code in PEP? (So far I already had to change something there regarding XACML parsi

[2016-03-03 15:54] federicofdez commented on #43
Hi @ddrenjanac

What version of Keyrock are you using? I just followed this process in a 5.1.1 Keyrock and had actually no trouble:
1. I created two users: `user0` and `user1`.
2. I registered an app as `user0`, and created two roles: `roleX` and `roleY`.
3. I configured the app (I used [this one](https://github.com/ging/oauth2-example-client) again) with the OAuth2 credentials that Keyrock provid

[2016-03-03 16:35] ddrenjanac commented on #43
Hi @FedericoFdez

thank you for fast reply! Yes, that is the behavior I am expecting from the system.

1) I am not sure which keyrock version do I have. About a month ago I have cloned from github horizon and keystone as separate projects and thus I am not sure where to check which keyrock version do I have?

2) After I create a new user, I receive an activation email on an email server I set up i

[2016-03-04 11:07] federicofdez commented on #43
Hi @ddrenjanac,

So glad to hear that it's working! I guess the problem was related to the user account not being activated.

When you follow the activation link you receive in the activation email, we enable both the user, its default project and its cloud project, as you just figured out. The easiest way is of course to follow the link in the email, so I recommend that you set it up correctly. J

[2016-03-04 11:07] #43 closed, assigned to federicofdez

[2016-03-08 09:17] federicofdez commented on #43
@btomashvili

I'm afraid that you will have to wait for the next FIWARE release (5.2.0), which is planned to be coming out in a few weeks. In the meantime, you can use the 5.1.0 image and just `git pull` the new changes.

[2016-03-10 12:38] aalonsog opened #48 "Error when deleting an application"
In FIWARE Lab, when I try to delete an application I get the following error:

Error: An unexpected error prevented the server from fulfilling your request. (HTTP 500)

[2016-03-10 14:46] ddrenjanac commented on #43
Hi @FedericoFdez

after successfully solving the role assignment issues, now I have a problem with a user authorization. First, I will briefly describe my test use case and then I will provide necessary configuration parameters as well as XACML outputs from involved components.

I have created a dummy REST web service that exposes two GET services under the following resources: /REST_PDP/v1/deposi

[2016-03-10 14:54] ddrenjanac opened #49 "Level 2: Basic authorization"
Hi @FedericoFdez ,

after successfully solving the role assignment issues, now I have a problem with a user authorization. First, I will briefly describe my test use case and then I will provide necessary configuration parameters as well as XACML outputs from involved components.

I have created a dummy REST web service that exposes two GET services under the following resources: /REST_PDP/v1/depo

[2016-03-12 01:30] drasko opened #50 "Keyrock vs OpenStack"
Hello,
I am trying to understand what are really the changes done on Keystone and Horizon forks by GING and are these needed only for the Fiware Lab (i.e. are the Fiware Lab specific)?

We are making our proper Fiware installation for Mainflux IoT Cloud: https://github.com/Mainflux/mainflux, and we are using Orion and IoT Agents. We want to add security layer with Wilma and IDM, and we are wonderi

[2016-03-14 08:30] aalonsog commented on #50
Hi, I've just answered your question in the SOF thread. BR

[2016-03-14 08:30] #50 closed, assigned to aalonsog

[2016-03-15 21:39] drasko commented on #50
Thanks,
but please update the answers here: http://stackoverflow.com/questions/35952672/keyrock-vs-openstack

BR,
Drasko

[2016-03-17 08:50] aalonsog commented on #49
Hi, have you assign the permissions to the correct roles? I don't see nothing strange in what you are doing. Any way, there was some issues in the communication between AZF and keyrock. They are already fixed but not deployed yet. I recommend you to wait to the next deployment to test again the example.

Sorry for the inconvenience

[2016-03-18 14:55] dmabtrg opened #51 "Provide versioned tags for the docker images."
The [FIWARE Docker guidelines](http://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Docker) says:

The automated image only has the `latest` tag.

Please add versioned tags to the docker image, at least for the latest stable release.

[2016-03-18 15:56] ddrenjanac commented on #49
Hi,

I have correctly assigned permissions to roles, at least I think so. The posted files look like that the assignment is correct.

As you pointed out, and also in my opinion, it seems that the keyrock does not write correctly the generated policy in AZF. Although, when I check a domain in AZF, an entry appears there after the keyrock generates the policy.

Please let me know when the next deplo

[2016-03-22 08:09] gasampong opened #52 "API Key support for Keyrock"
Currently the flow of Keyrock is as follows:

=>You go to your protected resource
=>You are redirected to login via fiware labs login form
=>Once you have been successfully authenticated you are redirected back to the authenticated resource

What I would like is a way to link an account on fiware labs to an API Key so that you can use that as opposed to having to login with a username and password

[2016-03-22 19:09] tevuore opened #53 "OAuth2 token is not expiring"
I'm using PEP Proxy with my own Keyrock installation. I noticed that with keystone token (pep-proxy keystone mode) tokens expire but not oauth2 tokens.

I have used Password Credentials Grant and response from Keyrock has expires_in=3600 which is seconds. However I haven't seen token to expire ever.

The URL PEP Proxy uses is <keystone_host>:<keystone_port>/v3/access-tokens/<token>.

Either
- prob

[2016-03-26 06:57] IAIS4EP opened #54 "Output from Phase3"
Dear Keyrock team,

at our Accelerator EUROPEANPIONEERS, we have tested some Enablers, also KeyRock.

One of our results is a Docker-based UI showcase for this component.
Do you think this could be a useful contribution to the project, allowing new developers very easy visual access to Enabler features, with 1 minute setup?
Please have a look:
https://github.com/IAIS4EP/fiware/tree/master/ge/ge_ke

[2016-03-28 10:37] aalonsog commented on #49
I will.

Cheers
Álvaro

[2016-03-28 10:41] aalonsog opened #55 "Issue when checking oauth2 token (client_credentials grant)"
When sending a validation request (/v3/access-tokens/{token}) with an Oauth2 token created using grant_type=client_credentials, the response is

{
  "error": {
    "message": "object of type 'NoneType' has no len()",
    "code": 400,
    "title": "Bad Request"
  }
}

[2016-03-28 11:24] aalonsog commented on #51
Done:
https://hub.docker.com/r/fiware/idm/tags/

[2016-03-28 11:24] #51 closed, assigned to aalonsog

[2016-03-29 08:22] federicofdez commented on #43
Answered in https://github.com/ging/fiware-idm/issues/49.

[2016-03-31 10:37] #48 closed, assigned to federicofdez

[2016-04-07 07:19] aalonsog opened #56 "Error when updating applications avatar"

[2016-04-12 20:45] superp opened #57 "Run with nginx"
Hi, all.
I have a few questions by Keyrock installation.
I installed keyrock and horizon to my server, but how can I configure my own domain to this service?
And how I can do it with nginx?

[2016-04-14 08:18] federicofdez commented on #54
Hi @IAIS4EP ,

Thanks for writing and telling us about your showcase. We will definitely take a deep look into it.

Best regards,

Federico Fernández

[2016-04-14 10:07] IAIS4EP commented on #54
@FedericoFdez  when can we have your feedback?

[2016-04-14 10:10] federicofdez commented on #52
Hi @gasampong ,

I'm afraid I didn't actually get to understand your situation. Keyrock complies with the OAuth2 standard described in [RFC 6749](http://tools.ietf.org/html/rfc6749) and supports all four grant types defined there:
- Authorization Code Grant
- Implicit Grant
- Resource Owner Password Credentials Grant
- Client Credentials Grant

You may use the one that best fits your app purposes.

[2016-04-15 16:22] dmabtrg opened #58 "Authzforce application domain not returned with user_info."
When the pep proxy request the user_info to keystone, the application domain in authzforce is not returned, even though it exists.  The problem is this lines on [controllers.py](https://github.com/ging/keystone/blob/master/keystone/contrib/roles/controllers.py#L448):

[code]

Here, `application` is a dictionary, not an object, so getattr always fails to find `ac_domain`.  Something like this shoul

[2016-04-16 22:23] drasko opened #59 "Tag DockerHub releases of official Fiware repo"
Only 5.1 is tagged: https://hub.docker.com/r/fiware/idm/tags/

What about others? What does `latest` tag correspond here? 5.2?

Please tag with release version.

[2016-04-18 19:28] drasko opened #60 "idm-admin shows errors `Could not load EntryPoint.parse`"
[code]

[2016-04-18 19:52] drasko opened #61 "Do not use hard-coded password"
Here: https://github.com/ging/fiware-idm/blob/master/extras/docker/expect_idm_password#L4, keystone password is hard-coded.

Please use either ENV variable, or one from some other config file, as this can be passed into contained in the moment of deployment via `docker-compose.yml`

[2016-04-18 20:05] drasko commented on #61
Similarely here: https://github.com/ging/fiware-idm/blob/master/extras/docker/Dockerfile#L28 - please do NOT replace `$$IDM_PASS` from `horizon/openstack_dashboard/local/local_settings.py` with hard-coded pass.

File `horizon/openstack_dashboard/local/local_settings.py` can be mapped into the docker from host PC via `volumes` directive.

If you really need to replace - use ENV variables or some id

[2016-04-19 10:10] federicofdez commented on #55
Solved in https://github.com/ging/keystone/commit/faa2a88d0db9c0f0b5d16af836b3ec37d568c61c but still to be deployed.

[2016-04-19 10:10] #55 closed, assigned to federicofdez

[2016-04-20 08:51] federicofdez commented on #60
Hi @drasko,

Thanks for writing. As you may have noticed, this issue wouldn't prevent any of the commands from running (you could try, for instance, `idm-admin console` and you would find no trouble at all). Anyway, I just took a look into it, and there seemed to be an issue when installing the dependencies of `idm-admin` package, caused by a change to our Python Keystoneclient egg name we recentl

[2016-04-20 10:30] federicofdez commented on #61
Hi @drasko ,

I understand your situation, and just made a few improvements to support more cases like yours. You can now find (https://github.com/ging/fiware-idm/commit/e22d0036a686dc34934c9663b71c84e483973cb7) an environment variable called `IDM_PASS` declared with the `ENV` docker statement.

I hope this solves your issue, but feel free to come back to us in any other case.

Best regards,
Feder

[2016-04-20 10:31] #61 closed, assigned to federicofdez

[2016-04-20 14:49] dmabtrg opened #62 "Add support for Authzforce 4.4.x"
The current release of Authzforce and the one available on the [catalogue](http://catalogue.fiware.org/enablers/authorization-pdp-authzforce) is version 4.4.1, but both idm and pep-wilma only work with version 4.2.0, as there are some changes in the urls and xml.  Please consider adding support for the new Authzforce version.  The main changes seems to be:
- The default url begins with `/authzforc

[2016-04-22 14:44] federicofdez commented on #56
Solved!

[2016-04-22 14:44] #56 closed, assigned to federicofdez

[2016-04-25 08:05] federicofdez commented on #57
Hi @superp ,

Regarding configuration of your own domain, and therefore the deployment of KeyRock, we provide some guidelines to do it with **Apache and mod_wsgi** in [our docs](http://fiware-idm.readthedocs.org/en/v5.2.0/setup.html#web-server-apache-mod-wsgi).

Anyway, Horizon is no different from any other Django web project, and therefore its primary deployment platform is WSGI, the Python stan

[2016-04-25 08:06] federicofdez commented on #57
I'll close the issue now, but feel free to reopen it if we can be of further help.

Cheers!

[2016-04-25 08:06] #57 closed, assigned to federicofdez

[2016-04-25 09:34] superp opened #63 "Get error when running horizon"
Sorry for a new issue, but I need help with running horizon at apache & wsgi.
This is my log:

`File "/var/www/horizon/.venv/lib/python2.7/site-packages/django/core/urlresolvers.py", line 365, in url_patterns
     patterns = getattr(self.urlconf_module, "urlpatterns", self.urlconf_module)
   File "/var/www/horizon/.venv/lib/python2.7/site-packages/django/core/urlresolvers.py", line 360, in urlconf

[2016-04-25 09:36] superp commented on #57
@federicofdez Thanks you!
I decided to install it by apache and have new problems, here more info https://github.com/ging/fiware-idm/issues/63

[2016-04-25 10:04] aalonsog opened #64 "Error registering a PEP Proxy"
Error when registering a PEP Proxy in FIWARE Lab

[2016-04-25 10:31] federicofdez commented on #63
Hi @superp ,

The `'NoneType' object has no attribute 'is_ajax'` error usually appears when Horizon can't successfully connect to Keystone. Did you set the right `OPENSTACK_HOST` and `OPENSTACK_KEYSTONE_URL` in your `local_settings.py` file?

[2016-04-25 10:32] federicofdez commented on #57
@superp I answer you in #63 then!

[2016-04-25 11:04] superp commented on #63
@federicofdez yes, I set localhost:

[code]

How can i check test connection for keystone in terminal?

[2016-04-25 11:08] federicofdez commented on #64
Fixed!

[2016-04-25 11:08] #64 closed, assigned to federicofdez

[2016-04-25 11:32] superp commented on #63
@federicofdez I run keystone in development mode and it works!
It's mean that `sudo service keystone_idm start` not run keystone as service.

[2016-04-25 11:49] federicofdez commented on #63
Hi @superp ,

I'm glad to see that it's now working! Anyway, Keystone should be set as a service when running in a deployment environment, so feel free to write back if you're having trouble when doing so.

Cheers!

[2016-04-25 11:54] superp commented on #63
and finally, I run it as service (just changed /etc/init/keystone_idm.conf line cd $absolute_keystone_path to my origin keystone path).
But, I have a new trouble ))
I can't create any application, roles and can't Sing up new users in my profile (logined as idm user).
Here is my project http://keyrock.publicfast.com/

[2016-04-25 13:14] superp commented on #63
I create new user, but still can't  create new application and roles.
Application created succefully, but not shown in dashboard list and can't create new roles in this app.

[2016-04-25 14:55] federicofdez commented on #63
Hi @superp

I took a look into your KeyRock instance, and there seems to be an issue when serving Javascript files. Did you follow the instructions regarding the **collection of static assets** [here](http://fiware-idm.readthedocs.org/en/v5.2.0/setup.html#collect-static-assets)?

If not, quoting the previous link to the docs, you first need to run the following in your Horizon folder:

[code]

Aft

[2016-04-26 06:00] superp commented on #63
@federicofdez thanks for your reply.

Yes, I have done all steps.

[code]

This is my configs (only changed items):

[code]

Email don't send and js errors still present (roles not created).

[2016-04-26 06:13] superp commented on #63
This is my Apache config:

[code]

[2016-04-26 06:37] superp commented on #63
Finally it works!
I add Alias /static/ /var/www/horizon/static/ to my apache configs.

Thanks for help!

[2016-04-26 07:20] federicofdez commented on #63
Hi @superp

So glad to see it's working now! I'll close the issue then.

Don't forget to change `idm` account password.

Cheers!

[2016-04-26 07:20] #63 closed, assigned to federicofdez

[2016-04-26 07:26] federicofdez commented on #49
Hi @ddrenjanac ,

This is just to inform you that we recently deployed the latest version of KeyRock (5.2.0) in FIWARE Lab. Please check if your issue if solved and, if not, feel free to reopen this issue.

Best regards,
Federico Fernańdez

[2016-04-26 07:26] #49 closed, assigned to aalonsog

[2016-04-26 07:26] superp commented on #63
@federicofdez  Thanks.

I already changed my password.
But still confused with email configuration.

[2016-04-26 07:27] federicofdez commented on #52
Seems to be solved.

Thanks for writing!

[2016-04-26 07:27] #52 closed, assigned to federicofdez

[2016-04-26 07:30] federicofdez commented on #63
@superp

We provide some guidelines to set up email in our [Production Set Up Guide](http://fiware-idm.readthedocs.org/en/v5.1.1/setup.html#email-configuration).

Come back to us if you find any trouble.

[2016-04-26 07:40] federicofdez commented on #60
Seems to be solved. Feel free to reopen the issue if the problem persists.

Cheers!

[2016-04-26 07:40] #60 closed, assigned to federicofdez

[2016-04-26 09:06] grimabe opened #65 "Understanding workflow : mobile/web -> keyrock"
Hi,

I am facing some issues when trying to use keyrock, so I am not sure I understand the workflow/architecture correctly.

In my case I have a mobile application as well as website where users can signup/signin and do actions of course (all api calls are made to a simple rest api).

I understand that using keyrock would bring a single entry point for authentication.

Here are the steps I followe

[2016-04-27 08:23] aalonsog commented on #62
Thanks! We have added this as a new feature for the GE. In will be available in the next release.

BR

[2016-04-27 08:23] #62 closed, assigned to aalonsog

[2016-04-27 09:06] federicofdez commented on #59
Hi all,

Release 5.2.0 is now available in DockerHub. The `latest` tag corresponds to the latest commit at GitHub, not to the latest release.

I'll close the issue now

Best regards,
Federico Fernández

[2016-04-27 09:06] #59 closed, assigned to aalonsog

[2016-04-27 09:07] federicofdez commented on #54
Hi @IAIS4EP ,

Thank you for your contribution. I'll close the issue now.

Kind regards,
Federico Fernández

[2016-04-27 09:25] federicofdez commented on #58
Hi @dmabtrg

Thank you for writing. You are right: the `ac_domain` wasn't being properly retrieved. We just fixed it in ging/keystone@009e96d8fe32571f3ffa34677cbf6054451d7aa1. It should all work now.

Regards,
Federico Fernández

[2016-04-27 09:25] #58 closed, assigned to aalonsog

[2016-04-27 11:06] IAIS4EP commented on #54
Dear Federico, I would like to have feedback on our contribution if possible! Can we make it to an acceptable pull request?
kind regards
Peter

[2016-04-27 13:33] federicofdez commented on #65
Hi @grimabe ,

The `X-Auth-Token` header needed in requests made to Keystone must actually be a **Keystone token**, not an **OAuth token**. To get a Keystone token, you need to make a POST request towards `$$keystone_address:port/v3/auth/tokens` (`$$keystone_address:port` would be your Keystone IP address and port), as you can see in [OpenStack docs](http://developer.openstack.org/api-ref-identity

[2016-04-28 08:24] grimabe commented on #65
Hi @federicofdez

Your answer helped me a lot ! I am able to get the admin token and create users now.

Because I'am thinking to create users from a mobile app when they fill the sign up form I guess it is not safe and not the right way to use the admin account inside the mobile app in order to create users.

What is your opinion about this ? what architecture should I follow ?

Thank you

[2016-05-05 12:20] federicofdez commented on #54
Hi again @IAIS4EP ,

We did check your showcase, and found it rather interesting. Unfortunately, I'm afraid we currently don't merge this kind of contributions. We hope you still want to keep it in your repo, in case anyone in the community finds it useful. So thanks again for your contribution!

Regards,
Federico Fernández

[2016-05-05 12:20] #54 closed, assigned to federicofdez

[2016-05-09 07:47] federicofdez commented on #65
Hi @grimabe ,

I've come up with these two options:
- You can either have your users register first in your KeyRock instance and, after that, ask for their credentials in your mobile app,
- or you can change the security policy in your KeyRock instance, so that no admin permissions are required to create users.

Please, let us know if we can be of further help.

Regards!

[2016-05-09 09:39] federicofdez commented on #53
Hi @tevuore ,

After looking deeply into this issue, it turns out that there was indeed a problem when validating OAuth2 tokens. I just fixed this in https://github.com/ging/keystone/commit/b78fed76d6c22f97315b9d1fb31df1bb5082bae4, so that a `401 Unauthorized` error code is returned when the token has expired.

Everything should now work as expected, but please, feel free to reopen this issue if t

[2016-05-09 09:39] #53 closed, assigned to nobody

[2016-05-20 07:35] federicofdez commented on #65
Seems to be solved. Feel free to open this issue again!

Cheers

[2016-05-20 07:35] #65 closed, assigned to federicofdez

[2016-06-30 03:37] DiegoAlfonso2 commented on #9
How did you fix it? I'm facing the same problem. I'm trying to install RSS, which authenticates against IDM. Thank you!

[2016-06-30 07:31] federicofdez commented on #9
Hi @DiegoAlfonso2,

Thanks for writing. Could you please provide us a little more information about your issue? Are you using your own KeyRock on a VM instance on FIWARE Lab or are you using FIWARE Lab directly?

[2016-07-05 15:17] mbsophia opened #66 "account creation : 'NoneType' object has no attribute 'id'"
I installed a fiware identity manager which seems working.
but when I create an account I have
[05/Jul/2016 14:52:44] "GET / HTTP/1.1" 200 13667
[05/Jul/2016 14:52:46] "GET /sign_up/ HTTP/1.1" 200 16808
Singup user mb10u1.
INFO:idm_logger:Singup user mb10u1.
DEBUG:idm_logger:user mb10u1 created.
'NoneType' object has no attribute 'id'

do you have any ideas ?

thanks

[2016-07-11 16:09] federicofdez commented on #66
Hi @mbsophia,

Thanks for writing. What version of KeyRock are you working with? Are you using your own KeyRock instance or a VM image in FIWARE Lab?

We just released 5.3 version, which includes several fixes that might solve your issue. Check if you get the same error when using the latest release. If not please write back and we'll look into it.

Cheers!

[2016-07-12 07:56] mbsophia commented on #66
Hi Frederico,
Thanks for your answer !
I'm building a new environment using idm, wstore, wmarket, repository and ckan, not in fiware labs.
Concerning idm, I don't know really the version , I just installed it the 24th of june, but in setup.cfg file there is name= keystone and version = 2014.2.3, seems older.
I'm going  to reisntall all compnents, do you have any advice ?
I have also other question

[2016-07-18 14:27] federicofdez commented on #66
Hello again @mbsophia,

Looks like you were using release 5.2 of KeyRock. We recently released version 5.3, so you can use this one now. Anyway, if I had to guess, I'd say your issue has to do with a configuration problem, so my recommendation is that you take a deep look into the steps in [our docs](http://fiware-idm.readthedocs.io/en/latest/admin_guide.html) and write back if you still get yours

[2016-07-18 14:31] federicofdez commented on #9
Seems to be solved! Feel free to write back otherwise.

Cheers!

[2016-07-18 14:31] #9 closed, assigned to federicofdez

[2016-07-19 07:56] DerJayDee opened #67 "Change horizon theme"
Is it possible to change the horizon theme in a local instance? If so: how?

[OpenStack](http://docs.openstack.org/developer/horizon/topics/customizing.html) lists that there should be an entry in the `local_settings.py` (`AVAILABLE_THEMES`) that then can get activated by collecting the static files again. But I cannot find this setting.

[2016-07-19 11:39] federicofdez commented on #67
Hello @DerJayDee,

Thanks for writing! Themes support in Horizon is a feature that was rolled out in OpenStack Kilo release, but KeyRock's Horizon (as well as Keystone) is still based on Juno (the previous one). Therefore, I regret to say that there is currently no shortcut to be taken when changing the Horizon styles.

We might update to a newer OpenStack version in the future but, in the meantim

[2016-07-19 11:39] #67 closed, assigned to federicofdez

[2016-07-20 15:40] dmabtrg opened #68 "Add latest release tag (5.3.0) to Docker Hub repository"
Please, add the latest release (5.3.0) to the tags available in the Docker Hub repository.

[2016-07-21 11:48] federicofdez commented on #68
Hello @dmabtrg ,

Thank you for writing. It will be ready within the next few days.

Regards,
Federico

[2016-08-08 08:18] AnotherCodeArtist opened #69 "ParseError: no element found: line 1, column 0"
Hi!

Just allow me one question upfront: Do you really believe that anyone can manage to setup the interaction between IdM and AZF based on [this](http://authzforce-ce-fiware.readthedocs.io/en/release-5.4.0a/UserAndProgrammersGuide.html#integration-with-the-idm-and-pep-proxy-ges-e-g-for-oauth) documentation?

Anyway, I'm struggling with the configuration for some time now, and after reading some o

[2016-08-18 08:56] AnotherCodeArtist commented on #69
After checking your source code I figured out how the request URL is constructed and I ended up with the following configuration:

[code]

Nevertheless an erroneous URL should not cause the application to fail and I'm now facing a different problem leading to new issue

[2016-08-18 09:19] AnotherCodeArtist opened #70 "Error in XML-Request sent to AuthZForce?"
After some while I managed to setup IdM, PEP and AuthZForce and as long as I use Level 1 Authentication everything works fine. However, enabling Level 2 leeds to the following problems:

When making a request from my demo app, the PEP log comes up with the following message:

[code]

So I initially thought that there's something wrong with PEP/WILMA but analyzing the log of AuthZForce brought me t

[2016-08-24 11:33] aalonsog commented on #69
Hi, thanks for the update. Could we close the issue?

[2016-08-26 01:50] cdanger commented on #70
Hello, I assume you are using Authzforce version 5.4.0 or later, in which case the format of IDM request to AZF for setting the root policy ID (`rootPolicyRefExpression`) is no longer valid. You have to change the content of IDM's template file `openstack_dashboard/templates/access_control/policy_properties.xacml` to this (basically the only change consists to remove the 'ns2' namespace prefix):

[2016-08-26 13:11] AnotherCodeArtist commented on #69
Well, if it's ok for you that the application crashes rather than providing a decent error handling, than you can close this one and probably focus on [that one](https://github.com/ging/fiware-idm/issues/70) ;-)?

[2016-09-01 07:46] federicofdez commented on #66
Closing this due to inactivity. Seems to be solved.

[2016-09-01 07:46] #66 closed, assigned to federicofdez

[2016-09-01 11:36] #68 closed, assigned to aalonsog, federicofdez

[2016-09-08 10:28] cdanger opened #71 "PDP properties template not compatible with Authzforce 5.4.0 and later"
Hello, the current XML template for the PDP properties is no longer compatible with Authzforce 5.4.0 and later. I create a [pull request on the forked horizon repository](https://github.com/ging/horizon/pull/3) to help fix it. Let me know if this is not the right place. Thanks.

[2016-09-08 10:33] cdanger opened #72 "Wrong template parameter 'role.id' in XACML policy template causing PolicyId conflict"
There is a typo in PolicyId attribute in the template `access_control/policy.xacml`: `role.id` instead of `role_id`. This is causing all PolicyIds to be the same empty string in the PDP (causing Policy conflicts during evaluation). PolicyIds must be unique in XACML. I created a [pull request](https://github.com/ging/horizon/pull/2) to help fix it.

[2016-09-19 11:12] federicofdez commented on #71
Merged! Thank you

[2016-09-19 11:12] #71 closed, assigned to federicofdez

[2016-09-19 11:13] federicofdez commented on #72
Merged! Thank you again @cdanger

[2016-09-19 11:13] #72 closed, assigned to federicofdez

[2016-09-19 11:15] federicofdez commented on #70
Seems to be solved. Please feel free to reopen this issue otherwise.

Regards,
Federico

[2016-09-19 11:15] #70 closed, assigned to federicofdez

[2016-09-20 09:29] federicofdez commented on #69
Hello @AnotherCodeArtist

We'll do our best to include a better error handling in case of a configuration issue with AZF in a future release of KeyRock, so that this issue is not repetead again.

I'll close the issue now if it's ok with you, but will let you know when this enhancement is included. Hope you're still interested by then :smile:

Thanks again for your contribution.

[2016-09-20 09:29] #69 closed, assigned to aalonsog, federicofdez

[2016-09-26 11:05] cdanger opened #74 ""Here" reference in API specification webpage"
To address the review by Apps chapter, please remove or replace link "here" in API spec page on
http://ging.github.io/fiware-idm/keyrock.html

See pull request #73 for a fix.

[2016-09-26 11:09] federicofdez commented on #74
Merged your pull request.

Thanks!

[2016-09-26 11:09] #74 closed, assigned to federicofdez

[2016-09-26 22:21] raiuli opened #75 "idm-installation.sh is not working properly"
After running the script I get the following errors
[log.txt](https://github.com/ging/fiware-idm/files/494209/log.txt)

Failed to start keystone_idm.service: Unit keystone_idm.service not found.
Failed to start horizon_idm.service: Unit horizon_idm.service not found.
I am using ubuntu 16.04 LTS.

[2016-09-27 11:00] aalonsog commented on #74
As the file http://ging.github.io/fiware-idm/keyrock.html is imported from apiary, it shouldn't be modified here. Just for the future :)

[2016-09-30 10:44] federicofdez commented on #75
Hello @raiuli

Our installation script does not support Ubuntu 16.04 LTS yet. I'm afraid you will have to stick to Ubuntu 14 LTS in the meantime.

Regards,

[2016-10-03 10:21] #75 closed, assigned to federicofdez

[2016-10-30 10:28] raiuli opened #77 "user cannot be created"
Hi ,

I have installed IDM using the script mentioned int the following url in Ubuntu 12.04 in
https://github.com/ging/fiware-idm/tree/master/extras/scripts

when i am trying to signup form http://locathost:8000
i am getting following error "Error: Unable to create user, please try again later."
Any suggestion how to fixed it ???

LOG while creating test_user6

Singup user test_user6.
REQ: curl -g

[2016-11-07 13:23] federicofdez commented on #77
Dear @raiuli,

Thank you very much for reporting this issue. After taking a deep look into it, it turns out that there was indeed some sort of error that was not being correctly handled. I just made some fixes (ging/horizon@69115cd1c6bbf57600086c3325a53cffe547484b) so that it works properly. Of course, commenting that line is not required any more.

Everything should work as expected now, but plea

[2016-11-07 13:23] #77 closed, assigned to federicofdez

[2016-11-29 20:03] thomaskoeck opened #78 "KeyError after Login in v5.4.0"
Hi,

I need some help please: I am currently using the docker image of KeyRock v5.3.0. Yesterday I saw that a couple of days ago there was a version 5.4.0 of KeyRock released. So I decided to update to this version, but unfortunately there seems to be bug. After I logged in as "idm" I always got a KeyError message. The following message is returned:

Traceback:
File "/horizon/.venv/local/lib/pytho

[2016-11-30 08:30] federicofdez commented on #78
Good morning @thomaskoeck ,

Thank you for writing! One of the features that has been introduced in release 5.4.0 is **password expiration**, that is to say, that whenever a user has not changed their password for a certain amount of time, they are asked to do so during login. This amount of time is specified (in days) in this setting that your installation is missing: `FIWARE_DEFAULT_DURATION['us

[2016-11-30 08:41] federicofdez commented on #78
Just to make it more clear:

- `local_settings.py` file in release 5.3.0:
[code]

- `local_settings.py` file in release 5.4.0:
[code]

[2016-11-30 10:36] thomaskoeck commented on #78
Everything works now, thank you very much.

[2016-11-30 10:39] federicofdez commented on #78
Glad to hear that! I'll close the issue then.

Cheers!

[2016-11-30 10:39] #78 closed, assigned to federicofdez

[2016-12-06 23:17] raiuli opened #79 "ImportError: No module named concurrency"
When I am trying to run keystone, I get the following error in mac OSX El Capitan

[code]

But I have checked "pip list" and it show oslo.concurrency. Here is my "pip list" result.

[code]

How to solve the problem?

[2016-12-12 17:07] e-mendes opened #80 "oauth2 token expiration"
I am trying to change the expiration of the oauth2 token (used by Wilma) from the default 3600 with no success. I am changing it at keystone.conf - [token] - expiration.

[2016-12-13 09:22] aalonsog commented on #80
Answered in https://ask.fiware.org/question/657/keyrock-token-duration/

[2016-12-13 09:22] #80 closed, assigned to nobody

[2016-12-16 08:56] thomaskoeck opened #81 "Update XACML policies in AuthzForce from Keyrock"
Hi,

I am facing some difficulties at the moment. I want to create permissions and assign them to roles using REST calls. This works perfectly fine. However, the permissions that I create using the REST calls do not work as it looks to me that the XACML policies in Authzforce are not getting updated accordingly.

Is there a way to trigger KeyRock to update the XACML policies in Authzforce using RE

[2016-12-20 09:47] federicofdez commented on #79
Good morning @raiuli ,

Do you encounter the same issue when running KeyRock in Ubuntu? We actually have never tried to make it work under MacOS...

Besides, note that KeyRock uses its own virtual environment for managing dependencies. So, to check whether `oslo.concurrency` is really installed or not, you should run

[code]

As a final note, I would recommend installing again the dependencies; it

[2017-01-13 08:58] federicofdez commented on #81
Hello @thomaskoeck ,

If you are to avoid the GUI of KeyRock when updating policies in Authzforce, you have to use directly the AuthZForce API, which is actually what the GUI does. I find the [documentation](http://authzforce-ce-fiware.readthedocs.io/en/release-5.4.1c/UserAndProgrammersGuide.html#adding-and-updating-policies) rather self-explanatory, but in case you have any doubts I think you'd b

[2017-01-13 08:58] federicofdez commented on #79
Seems to be solved...

I'll close the issue now, but feel free to reopen it!

BR

[2017-01-13 08:58] #79 closed, assigned to federicofdez

[2017-01-24 09:00] federicofdez commented on #81
I'm closing this issue now because of inactivity, but please feel free to reopen it we can be of further help!

[2017-01-24 09:00] #81 closed, assigned to federicofdez

[2017-03-06 02:56] minhtri1990 commented on #12
I using last version.
I had set :
IDM_USER_CREDENTIALS = {
    'username': 'idm',
    'password': 'idm',
    'project': 'idm',
}
OPENSTACK_HOST = "10.30.176.36"
OPENSTACK_KEYSTONE_URL = "http://%s:5000/v3" % OPENSTACK_HOST

Please help me config horizon.
It's error when I go link http://10.30.176.36:8000/:
the screen display :A server error occurred.  Please contact the administrator.

And Log con

[2017-03-10 11:56] federicofdez commented on #12
Hello @minhtri1990 ,

Thanks for writing. Could you please provide the logs in Keystone?

BR

[2017-03-15 08:25] federicofdez commented on #12
@minhtri1990 is it already solved?

[2017-03-27 09:24] federicofdez commented on #12
@minhtri1990 I'll close the issue now, but feel free to reopen it if you need so!

BR

[2017-03-27 09:24] #12 closed, assigned to garcianavalon

[2017-05-09 08:11] dcalvoalonso opened #82 "Unauthorized users are allowed"
Hi,

I am trying to use FIWARE security Generic Enablers: PEP Proxy, IDM KeyRock and AuthZForce. Specifically, I am using the instances available to trial users in the url https://account.lab.fiware.org.

My problem is related with level 1 of authorization. I have configured PEP proxy to check permissions using AuthZForce as you can see below:
[code]
My application only has an authorized user. Whe

[2017-07-13 10:46] billhu422 commented on #28
@asafnevo How do you get the Client Credentials from idm  ？I register an application in idm and，and get access token successfully in Authentication Code type ，But can not get access token in Client Credentials type.

[2017-07-20 11:51] ManuelAlfonso opened #83 "Integrate keyrock in a app"
Hello,

I have to integrate keyrock in a app. So I have installed keyrock in my computer but now I don't know what is the next step.

The thing is that I beginner in all it. 4 days ago, I didn't know anything about it. about Fiware and also keyrock. But I have readed a lot papers, and now I know more about it. but so, I don't know enough. If somebody could help me.

I want integrate keyrock Fiware

[2017-07-20 11:59] aalonsog commented on #83
Hi, this channel is used for reporting issues. For questions regarding the GE use you should use the specific help channels of FIWARE.

[2017-07-20 11:59] #83 closed, assigned to nobody

[2017-09-01 07:27] dcalvoalonso commented on #82
Is there any news on this? I have done another attempt and I have exactly the same problem.

Please find below the output of PEP Proxy with DEBUG level:

[code]

[2017-09-02 20:28] gcostantino opened #84 "AZF domain not found for application"
I'm using Orion Context Broker, Keyrock IdM, Wilma PEP Proxy and Authzforce for the PDP.
When I'm going to perform any action from PEP proxy to PDP I receive the following message: "AZF domain not created for application ...". I tried several strategies to solve the problem, but without considerable results. What's the problem and how can I solve it?
Thank you,
Giuseppe

[2017-09-11 13:39] #84 closed, assigned to nobody

[2017-10-19 14:07] osfrance opened #86 "Add PostgreSQL support for Docker image"
Hi,
I submit #85 Pull request for adding psycopg2 package to the Docker image.

Thanks,

[2017-11-17 11:39] emepetres opened #87 "Docker image logging issues"
Using the latest docker image, I encounter two problems:

* Cannot log in with a new created user. The user appears for example when, as logged as idm user, want to manage the user by the email. However when trying to log in, the idm says `UserNotFound: Could not find user: jcarnero` (jcarnero is the user created before).

* After changing `idm` user password and log again, horizon breaks and don'

[2017-12-02 00:42] caballero03 opened #88 "Problem building docker image from Dockerfile"
Hello,

I have built this image on a different machine and I can run the Docker image supplied on Docker Hub.

When I run: ```docker build -t idm-image .``` I get the error ```Command "python setup.py egg_info" failed with error code 1```

Any ideas what could be wrong?

[2017-12-15 00:32] caballero03 commented on #88
Small update to this issue. It would appear that pyscss requires six to be installed but six is listed AFTER pyscss in the Horizon requirements.txt dependency file. I will attempt to debug this further. Any advice will be welcome.

[2018-01-02 11:47] psManu opened #89 "ImportError : No module named six"
Been struggling to install Keyrock several times in a fresh ubuntu 14.0. x64 server vm. Always its failing due to a missing library 'six'. Followed both the step by step guide and the automated script with no luck. Each time it's missing six
There's an existing six==1.5.2 in global pip list. in keystone-venv six==1.9.0 and none in horizon
With scipt Keystone api starts in ports 5000 and 35357 succ

[2018-01-03 12:32] jicarretero commented on #89
I found one workaround. When the installation process fails, I manually install six==1.9.0 and I exec again the installation command:
$ sudo tools/with_venv.sh pip install six==1.9.0

And again:
$ sudo python tools/install_venv.py

This time the installation process will finish.

[2018-01-09 06:46] psManu commented on #89
Thanks @jicarretero .
Tried that .But couldn't get it up. Switched to using docker image. That works fine

[2018-01-16 10:56] Efeyabel opened #90 "Fiware Identity Manager; F is not a function"
I am trying to use Fiware Identity Manager to log into a wirecloud instance, CKAN and knowage. But when i try to edit roles, manage roles or change roles of a user i always got the same error:

[code]
This happend to me on anything related about roles.
[http://prntscr.com/i154om](url)

[2018-01-25 12:05] atroisi93 commented on #89
Hi everyone, I had this trouble too. I solved it activating the virtualenv created by `install_venv.py` and install manually `six` module.
`sudo -H .venv/bin/pip install six==1.9.0`

[2018-02-20 12:57] Shaptarshi-Basu opened #91 "ImportError: No module named six while setting up Horizon"
Tried to install using dockerfile. and the respository used is a person repository forked from https://github.com/ging/horizon.git with some minor UI changes.

Dockerfile
=======================================
FROM ubuntu:14.04

MAINTAINER FIWARE Indentity Manager Team. DIT-UPM

ENV HOME=/
ENV IDM_PASS=idm

# Install Ubuntu dependencies
RUN sudo apt-get update && \
    sudo apt-get install -y wge

[2018-03-09 14:27] pfazenda commented on #60
Still not solved. I just cloned the latest version and I am still having the same problem...

[2018-03-15 05:15] joansrios opened #92 "pep-proxy connection"
welcome i'm trying to deploy the security layer in orion context broken using idm and pep-proxy but i have a problem with the pep proxy using docker compose:
[code]
I can't continue because pep proxy shows an error when i make the request to:
![](https://i.stack.imgur.com/KBm2N.png)
(without specifying a port)

using this config.js: ![](https://i.stack.imgur.com/8HJiG.png)

got this error: ![](htt

[2018-03-15 05:21] joansrios commented on #89
@sickboy93  after this issue,  i cant enter to the frontend of idm, with this error:

![imagen](https://user-images.githubusercontent.com/20956876/37445565-c762c0e0-27e6-11e8-866f-9d22e19c3480.png)

how you solve this?

[2018-03-15 23:45] IreneGinani opened #93 "fiware-idm image from docker-hub"
Hi, I'm using the fiware-idm image available in the docker-hub and some errors that has already been fixed remain in the current version, like this one https://github.com/ging/horizon/commit/a51b53f0bd0dea3b62d91a18aa517673af4e69a1

I believe that this image it is not up to date.

[2018-03-17 13:44] atroisi93 commented on #89
@RiosQ I used only KeyRock, even I had problem with the frontend.
However, did you try to shutdown the firewall?

[2018-03-20 13:08] zabuTNT commented on #87
From my experience I can report these:
1) the user have to be confirmed by email. So you have to edit your setting to enable email.

edit this file (accessing from docker volume)

and change emails settings with your smtp server, or gmail in my case:

[code]
EMAIL_USE_TLS could not exist in the file so if you need it, add this setting.

Now ask to resend the confirmation email with "Didn't receive

[2018-03-20 13:33] zabuTNT commented on #93
In Dockerfile there is a git checkout using keyrock-6.0.0 tag.
In order to use the last updated version I think you could use the master or development branch instead.

`git checkout tags/keyrock-6.0.0`
to
`git checkout master`

at lines 20 and 24.
https://github.com/ging/fiware-idm/blob/master/extras/docker/Dockerfile#L20
https://github.com/ging/fiware-idm/blob/master/extras/docker/Dockerfile#L24

[2018-03-20 13:48] zabuTNT commented on #92
I integrate succesfully pep+orion+idm using this slides:
https://www.slideshare.net/daltoncezane/integrating-fiware-orion-keyrock-and-wilma
(But I don't use "cygnus" and docker-compose for this). I cloned pep-wilma from the repo.

About your pep settings they appear correct to me.
But I use 127.0.0.1 instead of localhost, maybe try to change this.

I'm not a docker-compose expert, are you sure tha

[2018-03-20 15:54] joansrios commented on #92
@zabuTNT yes, i follow those slides, as you can see in the next [repository:](https://github.com/RiosQ/IFiware/wiki/04.-Integraci%C3%B3n-de-IDM-con-Ori%C3%B3n)

and this is my keyrock app:
![](https://image.ibb.co/iiB9Ec/Deepin_Screenshot_Navigator_20180320104119.png)

Although not if the shipping URL is without especific a port, and my postman request are ok.

i will try to follow your suggestion

[2018-03-20 18:44] joansrios commented on #92
@zabuTNT got this error:
![](https://image.ibb.co/cr59fH/Deepin_Screenshot_Seleccionar_rea_20180320134248.png)

I will try to install pep proxy out of the docker-compose file

[2018-03-21 08:05] zabuTNT commented on #92
If it say Connection Refused pep and idm can't comunicate.
Change the hostnames in pep settings from "localhost" to the "hostname" assigns to your keyrock and orion containers in your docker compose.

From docker compose docs:
https://docs.docker.com/compose/networking/

In fact you still did this for orion and cygnus with the commands/env:

`-dbhost mongodb`

and

`- CYGNUS_MYSQL_HOST=mysql-cygnu

[2018-03-27 11:57] joansrios commented on #92
@zabuTNT i did and got this:

![](https://image.ibb.co/e8sy0S/Deepin_Screenshot_deepin_terminal_20180326221114.png)

 the problem persist although i think that the communication is ready... now i need to find the authzforce solution, thanks

[2018-03-27 14:41] zabuTNT commented on #92
@RiosQ yes, it seems that now connection works.

pep asks to keyrock and then to AZF.

The response is a 404 from AZF as you can read in pep code:
https://github.com/ging/fiware-pep-proxy/blob/ac9532c537f196ee21d0b9375e192ba425027510/controllers/root.js#L56

so it's not a connection issue. I never used it, but from the message it seems that you have to create a domain for the application with that

[2018-03-27 15:13] joansrios commented on #92
Sorry for the replies @zabuTNT, But do you have an example without authzforce, in the Config. js of pepproxy when i disable it, fails:

[code]

[2018-03-29 12:11] zabuTNT commented on #92
This is my config in pep for AZF (disable, default values)

[code]

[2018-03-30 21:04] joansrios commented on #92
@zabuTNT  thanks man, for any reason, when the authzforce container was present in the docker-compose file, disable it  was not an option then i only coment that part.